/*
	http://gw2timer.com/mobile
	Mobile Devices stylesheet to tailor for small vertical touchscreens.
*/

/* Restructure to fit */

html, body {
	background: linear-gradient(to right, #111 0%, #383838 50%, #111 100%);
}

html {
	overflow-y: scroll;
}

#jsConsoleButtons {
	position: fixed;
	bottom: 24px;
}

#panelLeft {
	display: none;
}

#windowMain {
	text-align: center;
	background: none;
}

#panelRight {
	position: relative;
	display: inline-block;
	text-align: left;
	background: none;
}

body, #paneContent article {
	overflow: visible;
}

body, html, .panelMain, #windowMain, #paneContent article {
	height: auto;
}

.paneRight {
	right: auto;
	border-left: none;
	box-shadow: 0px 0px 16px #111;
}

#paneMenu {
	border-bottom-right-radius: 8px;
}

#paneContent {
	position: relative;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.cntComposition {
	margin-top: 0;
}

/* Element resize */

#itemLanguage:hover #itemLanguagePopup {
	left: 64px;
}

#itemLanguagePopup a {
	font-size: 18px;
	line-height: 100%;
	margin-top: 4px;
	margin-bottom: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

#optAlarm {
	margin-left: 260px;
}
#itemAlarmPopup {
	font-size: 18px;
}
#itemAlarmPopup fieldset {
	min-width: 180px;
}
#optAlarmSpeaker {
	width: 32px; height: 32px;
}
#optAlarmIcon {
	width: 24px; height: 24px;
}

.barChain, .barChainDummy {
	margin-bottom: 8px;
}

.chnTitle img {
	width: 64px; height: 64px;
	border-radius: 8px;
}

.chnCheck, .chnChecked {
	display: inline-block;
	margin-left: -64px;
	width: 64px; height: 64px;
	opacity: 0.6;
}

.chnTitle h1 {
	width: 178px;
	font-size: 18px;
	text-align: center;
}

.chnTitle time {
	width: 88px;
	font-family: sans-serif;
	font-size: 18px;
}

#plateChains header {
	height: 48px;
}

#plateChains header span {
	visibility: visible;
	color: #666;
}
#plateChains header:hover span {
	color: white;
}

/* Options page */

#plateOptions .cntComposition {
	font-size: 16px;
}

#plateOptions .cntComposition h2 {
	font-size: 20px;
}

#plateOptions .cntComposition h3 {
	font-size: 16px;
}

input[type=checkbox] {
	transform: scale(1.25);
}

input[type="number"] {
	width: 64px;
	font-size: 18px;
}

#plateOptions .cntComposition button {
	min-height: 32px;
	font-size: 18px;
}

/* Page elements */

header.jsSection {
	padding-top: 0;
	margin-top: 12px;
}

.chlDungeonBar {
	margin-bottom: 8px;
}

.chlDungeonBar label {
	margin-right: 8px;
}

#chlCustom input[type="text"] {
	font-size: 14px;
}

#chlCustom span {
	margin-bottom: 4px;
}