/*
	http://gw2timer.com/account
	Account API stylesheet.
*/

#accContent {
	font-size: 16px;
}

#accClose, #accExpand {
	position: absolute;
	left: auto;
	top: 0; right: 0;
}
#accExpand {
	right: 32px;
}
#accClose:active, #accExpand:active {
	opacity: 0.8;
}

/* Key manager
----------------------------------------------------------------------------- */

#accManager, #accHelp {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}
#accManager {
	text-align: center;
	margin-bottom: 32px;
}
#accManager .accTokenName {
	display: inline-block;
	min-width: 128px;
	width: 20%;
	margin-right: 16px;
}
#accManager .accTokenKey {
	display: inline-block;
	min-width: 256px;
	width: 50%;
	margin-right: 16px;
}
#accManager input.accTokenKey {
	font-family: monospace;
	font-size: 14px;
}
.accTokenButtons {
	display: inline-block;
	width: 72px;
}

#accTokenNew {
	display: inline-block;
	margin-top: 8px;
	width: 64px;
}

/* Help area
----------------------------------------------------------------------------- */
