/*
	http://gw2timer.com/account
	Account API stylesheet.
*/

#accContent {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

#accClose, #accExpand {
	top: auto; bottom: -14px; /* Center it across the horizontal line */
	left: auto; right: 0;
}
#accExpand {
	right: 32px;
}
#accClose:active, #accExpand:active {
	opacity: 0.8;
}

.accPlatter {
	display: none;
}

/* Menu
----------------------------------------------------------------------------- */
#accOverhead {
	top: 0; left: 0;
	display: block;
	position: fixed; z-index: 9;
	width: 100%;
	padding-top: 2px;
	background: linear-gradient(to left, rgba(255,255,255,0) 0%, #333 50%, rgba(255,255,255,0) 100%);
}
#accOverheadPadding {
	height: 32px;
}

#accMenu {
	padding: 0;
	font-size: 16px;
	text-align: center;
	font-family: Menomonia;
	border-bottom: 1px solid #444;
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #333 100%);
}
.accMenu {
	display: inline-block;
	padding-left: 6px;
	padding-right: 6px;
	margin-right: 6px;
	text-align: left;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-top-left-radius: 33%;
	border-top-right-radius: 33%;
	background-repeat: repeat-x;
}
.accMenu:hover {
	background-image: linear-gradient(to top, #7c7253 0%, rgba(255,255,255,0) 100%);
	animation: aniHighlight 0.4s;
}
.accMenu img {
	margin-right: 2px;
}
.accMenuFocused {
	border-left: 1px solid rgba(228,224,179,0.6);
	border-right: 1px solid rgba(228,224,179,0.6);
	background-image: linear-gradient(to top, #7c7253 0%, rgba(255,255,255,0) 100%);
}
.accMenuSubbutton:hover, .accMenuButtonFocused {
	border-radius: 50%;
	box-shadow: 0px 0px 10px #e7e3bd;
}
.accMenuSubbutton:active {
	opacity: 0.6;
}

#accProgressBar {
	display: block;
	width: 100%; height: 1px;
}
#accProgress {
	display: block;
	width: 0%; height: 1px;
	background: linear-gradient(to right, #000 0%, #eadf86 100%);
}

/* Key manager
----------------------------------------------------------------------------- */

#accManager, #accHelp {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	font-family: sans-serif;
}
#accManager {
	text-align: center;
	margin-bottom: 32px;
}
#accManager .accTokenName {
	display: inline-block;
	min-width: 128px;
	width: 20%;
	margin-right: 16px;
}
#accManager .accTokenKey {
	display: inline-block;
	min-width: 256px;
	width: 50%;
	margin-right: 16px;
}
#accManager input.accTokenKey {
	font-family: monospace;
	font-size: 14px;
}
.accTokenButtons {
	display: inline-block;
	width: 96px;
}
.accTokenUse, .accTokenDelete {
	width: 32px;
}

#accTokenNew {
	display: inline-block;
	margin-top: 8px;
	width: 96px;
}
input[type="text"].accTokenHovered {
	border: 1px solid red;
}

#accConsole {
	width: 100%;
}

/* Characters
----------------------------------------------------------------------------- */
#chrSummary, #chrStatistics {
	width: 100%;
	text-align: center;
}

#chrSummary {
	display: none;
	margin-top: 16px;
	margin-bottom: 16px;
}
#chrSummary var {
	line-height: normal;
}
#chrAccountName {
	font-family: Menomonia;
	font-size: 64px;
	font-variant: small-caps;
	font-weight: bold;
	letter-spacing: 2px;
	color: #ffeebb;
}
#chrAccountServer {
	font-size: 24px;
	font-family: Menomonia;
}
#chrAccountAge {
	color: #bbcc77;
}
#chrAccountDeaths {
	color: #ff2200;
}
#chrAccountLifetime {
	color: #ccc;
}
#chrAccountMisc {
	display: none;
}
#chrSummary:hover #chrAccountName {
	display: none;
}
#chrSummary:hover #chrAccountMisc {
	display: block;
	height: 48px;
	overflow: visible;
	line-height: 18px;
	font-size: 12px;
	animation: aniFadeIn 0.4s;
}
#chrAccountMisc img {
	margin-right: 2px;
}

.chrHeader {
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0px 0px 2px #e4e0b3;
	color: #e4e0b3;
	border-top: 1px solid #222;
	border-bottom: 1px solid #000;
	background: linear-gradient(to right, #000 0%, rgba(255,255,255,0) 100%) !important;
}
.chrHeaderLeft {
	margin-left: 32px;
	float: left;
}
.chrHeaderRight {
	margin-right: 8px;
	float: right;
}

#chrStatistics ul { /* A column, should have a computed total width of at least 360 pixels and be divisible by 30 */
	display: inline-block;
	margin-right: 8px;
	margin-bottom: 16px;
	font-size: 18px;
}

#chrSelection li {
	display: block;
	width: auto; height: 32px;
	overflow: hidden;
	white-space: nowrap;
	line-height: 32px;
	text-align: left;
	background-repeat: repeat-y;
}
#chrSelection li:nth-child(even) {
	background-image: linear-gradient(to right, #333 0%, rgba(255,255,255,0) 100%);
}
#chrSelection li:hover, #chrSelection li.chrSelected {
	background-image: linear-gradient(to right, #7c7253 0%, rgba(255,255,255,0) 100%);
	animation: aniHighlight 0.4s;
}
.chrPortrait {
	display: block; float: left;
	width: 32px; height: 32px;
	border-radius: 4px;
	margin-right: 8px;
}
.chrName {
	display: inline-block;
	width: 176px;
	overflow: hidden;
	white-space: nowrap;
	font-family: Menomonia;
}
.chrTag {
	margin-left: 4px;
	font-size: 12px;
	color: #ffbb44;
	opacity: 0.4;
}
.chrTrivial { /* Situational class to fade trivial information */
	opacity: 0.3;
}
.chrCommitment {
	display: inline-block;
	width: 128px;
}
.chrProfession, .chrProfessionIcon, .chrCrafting {
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
}
.chrCrafting {
	margin-left: 4px;
}
.chrCraftingRating {
	width: 32px;
	position: absolute;
	margin-left: -32px;
	margin-top: -12px;
	text-align: center;
	font-size: 10px;
	color: #ffeeaa;
	text-shadow:
		0px 1px 1px #000,
		0px -1px 1px #000,
		1px 0px 1px #000,
		-1px 0px 1px #000;
}
.chrProceed {
	margin-top: 8px;
	float: right;
}

#chrStatistics samp { /* A bar graph */
	vertical-align: middle;
	display: inline-block;
	width: 96px; height: 12px;
	border: 1px solid rgba(0, 0, 0, 0.8);
	border-radius: 2px;
	background: rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 1px black;
}
#chrStatistics samp s { /* The inner progress of the bar graph */
	display: block;
	height: 100%;
	background: url("../img/background/bargraph.png"), linear-gradient(to bottom, #fff392 0%, #eadf86 50%, #807a49 100%);
	box-shadow: 0px 0px 2px #eadf86;
	border-radius: 1px;
}

.chrStats {
	vertical-align: top;
	text-align: left;
}
.chrStats li { /* A row containing texts and graphs */
	height: 32px;
	padding-right: 16px;
	overflow: hidden;
	line-height: 32px;
}
.chrStats li:nth-child(even) {
	background-image: linear-gradient(to left, #333 0%, rgba(255,255,255,0) 100%);
}
.chrStats li:hover {
	background: #444;
}
#chrStatistics .chrHoverName abbr { /* Character name again, hidden beside the bar graphs */
	display: none;
}
#chrStatistics .chrHoverName:hover abbr {
	display: inline-block;
	position: absolute;
	width: 196px;
	text-align: center;
	white-space: nowrap;
	font-family: Menomonia;
	background: linear-gradient(to left, rgba(255,255,255,0) 0%, #333 50%, rgba(255,255,255,0) 100%);
}
.chrAge, .chrDeaths, .chrLifetime, .chrBirthday, .chrBirthdate, .chrWalletAmount, .chrWalletCurrency { /* Text and values */
	display: inline-block;
	width: 64px;
	text-align: right;
	white-space: nowrap;
}
.chrAge {
	width: 70px;
	margin-right: 8px;
	color: #bbcc77;
}
.chrDeaths {
	width: 70px;
	color: #ff2200;
}
.chrLifetime {
	width: 112px;
	margin-right: 8px;
}
.chrBirthday {
	width: 56px;
	margin-right: 8px;
}
.chrBirthdate {
	width: 234px;
	color: #ccc;
}

#chrGuilds {
	display: inline-block;
	margin-bottom: 32px;
}
#chrGuilds li.chrGuild {
	text-align: left;
	white-space: nowrap;
	font-family: Menomonia;
	color: #ffbb44;
}
#chrGuilds li:nth-child(even) {
	background-image: linear-gradient(to left, rgba(255,255,255,0) 0%, #333 50%, rgba(255,255,255,0) 100%);
}
#chrGuilds li:hover {
	background: #444;
}
.chrGuildBanner {
	width: 32px; height: 32px;
	margin-right: 8px;
	background: url("../img/background/guildbanner.png");
	background-size: cover;
	box-shadow: 0px 0px 2px tan;
}
.chrGuildBannerLarge {
	display: none;
}
.chrGuildHover:hover .chrGuildBannerLarge {
	display: block;
	position: absolute;
	width: 128px; height: 128px;
	margin-left: 36px;
	margin-top: -160px;
}
.chrGuildName {
	display: inline-block;
	width: 304px;
}

.chrWalletAmount {
	width: 96px;
	margin-right: 8px;
}
.chrWalletCurrency {
	width: 192px;
	margin-left: 8px;
	text-align: left;
	font-family: Menomonia;
	font-size: 16px;
}
a.chrWalletLink {
	color: #eee;
	text-decoration: none;
}
/* Hide gold and karma icon for the wallet to allow more space for the numbers */
#chrWallet_General .acc_wallet_1, #chrWallet_General .acc_wallet_2 {
	visibility: hidden;
}

.chrEquipHelm {
	
}

.acc_prof { /* Profession icon sprites */
	width: 32px; height: 32px;
	background-image: url("../img/account/professions.png");
}
.acc_prof_berserker { background-position: 0 0; }
.acc_prof_chronomancer { background-position: -32px 0; }
.acc_prof_daredevil { background-position: -64px 0; }
.acc_prof_dragonhunter { background-position: -96px 0; }
.acc_prof_druid { background-position: -128px 0; }
.acc_prof_elementalist { background-position: -160px 0; }
.acc_prof_engineer { background-position: -192px 0; }
.acc_prof_guardian { background-position: -224px 0; }
.acc_prof_herald { background-position: -256px 0; }
.acc_prof_mesmer { background-position: -288px 0; }
.acc_prof_necromancer { background-position: -320px 0; }
.acc_prof_ranger { background-position: -352px 0; }
.acc_prof_reaper { background-position: -384px 0; }
.acc_prof_revenant { background-position: -416px 0; }
.acc_prof_scrapper { background-position: -448px 0; }
.acc_prof_tempest { background-position: -480px 0; }
.acc_prof_thief { background-position: -512px 0; }
.acc_prof_warrior { background-position: -544px 0; }

.acc_craft { /* Crafting icon sprites */
	width: 32px; height: 32px;
	background-image: url("../img/account/crafting.png");
}
.acc_craft_armorsmith { background-position: 0 0; }
.acc_craft_artificer { background-position: -32px 0; }
.acc_craft_chef { background-position: -64px 0; }
.acc_craft_huntsman { background-position: -96px 0; }
.acc_craft_jeweler { background-position: -128px 0; }
.acc_craft_leatherworker { background-position: -160px 0; }
.acc_craft_scribe { background-position: -192px 0; }
.acc_craft_tailor { background-position: -224px 0; }
.acc_craft_weaponsmith { background-position: -256px 0; }

.acc_wallet { /* Wallet currency sprites */
	width: 32px; height: 32px;
	background-image: url("../img/account/currencies.png");
}
.acc_wallet_1 { background-position: 0 0; }
.acc_wallet_2 { background-position: -32px 0; }
.acc_wallet_3 { background-position: -64px 0; }
.acc_wallet_4 { background-position: -96px 0; }
.acc_wallet_5 { background-position: -128px 0; }
.acc_wallet_6 { background-position: -160px 0; }
.acc_wallet_7 { background-position: -192px 0; }
.acc_wallet_9 { background-position: -224px 0; }
.acc_wallet_10 { background-position: -256px 0; }
.acc_wallet_11 { background-position: -288px 0; }
.acc_wallet_12 { background-position: -320px 0; }
.acc_wallet_13 { background-position: -352px 0; }
.acc_wallet_14 { background-position: -384px 0; }
.acc_wallet_15 { background-position: -416px 0; }
.acc_wallet_16 { background-position: -448px 0; }
.acc_wallet_18 { background-position: -480px 0; }
.acc_wallet_19 { background-position: -512px 0; }
.acc_wallet_20 { background-position: -544px 0; }
.acc_wallet_22 { background-position: -576px 0; }
.acc_wallet_23 { background-position: -608px 0; }
.acc_wallet_24 { background-position: -640px 0; }
.acc_wallet_25 { background-position: -672px 0; }
.acc_wallet_26 { background-position: -704px 0; }
.acc_wallet_27 { background-position: -736px 0; }
.acc_wallet_28 { background-position: -768px 0; }
.acc_wallet_29 { background-position: -800px 0; }
.acc_wallet_30 { background-position: -832px 0; }


/* Equipment and Build
----------------------------------------------------------------------------- */
.eqpLeft, .eqpRight {
	display: inline-block;
	width: 360px;
}
.eqpRow {
	margin-bottom: 6px;
}
.eqpSlot {
	display: inline-block;
	width: 65px; height: 65px;
	background-size: cover;
}
.eqpIcon {
	width: 64px; height: 64px;
	border: 1px solid #828181;
	border-radius: 1px;
}
.eqpWeaponA2 .eqpSlot, .eqpWeaponB2 .eqpSlot,
.eqpWeaponA2 .eqpIcon, .eqpWeaponB2 .eqpIcon {
	width: 52px; height: 52px;
}


/* Adjustments for smaller screens
----------------------------------------------------------------------------- */
@media (max-width: 720px) {
	
.accMenuTitle {
	display: none;
}
#accMenu kbd {
	padding-left: 2px;
	padding-right: 2px;
	margin-right: 2px;
}

}