/*
	http://gw2timer.com/account
	Account API stylesheet.
*/

#accContent {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

#accClose, #accExpand {
	position: absolute;
	left: auto;
	top: 0; right: 0;
}
#accExpand {
	right: 32px;
}
#accClose:active, #accExpand:active {
	opacity: 0.8;
}

.accPlatter {
	display: none;
}

/* Menu
----------------------------------------------------------------------------- */
#accOverhead {
	display: block;
	width: 100%;
	background: linear-gradient(to left, rgba(255,255,255,0) 0%, #333 50%, rgba(255,255,255,0) 100%);
}
#accOverheadPadding {
	height: 16px;
}

#accMenu {
	padding: 0;
	font-size: 16px;
	text-align: center;
	font-family: Menomonia;
	border-bottom: 1px solid #444;
}
#accMenu li {
	display: inline-block;
	padding-left: 4px;
	padding-right: 6px;
	margin-right: 6px;
	text-align: left;
	background-repeat: repeat-x;
}
#accMenu li:hover {
	background-image: linear-gradient(to top, #7c7253 0%, rgba(255,255,255,0) 100%);
	animation: aniHighlight 0.4s;
}
#accMenu li img {
	margin-right: 2px;
}
.accMenuFocused {
	background-image: linear-gradient(to top, #7c7253 0%, rgba(255,255,255,0) 100%);
}
#accProgressBar {
	display: block;
	width: 100%; height: 1px;
}
#accProgress {
	display: block;
	width: 0%; height: 1px;
	background: linear-gradient(to right, #000 0%, #eadf86 100%);
}

/* Key manager
----------------------------------------------------------------------------- */

#accManager, #accHelp {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	font-family: sans-serif;
}
#accManager {
	text-align: center;
	margin-bottom: 32px;
}
#accManager .accTokenName {
	display: inline-block;
	min-width: 128px;
	width: 20%;
	margin-right: 16px;
}
#accManager .accTokenKey {
	display: inline-block;
	min-width: 256px;
	width: 50%;
	margin-right: 16px;
}
#accManager input.accTokenKey {
	font-family: monospace;
	font-size: 14px;
}
.accTokenButtons {
	display: inline-block;
	width: 72px;
}
.accTokenButtons button {
	width: 32px;
}

#accTokenNew {
	display: inline-block;
	margin-top: 8px;
	width: 64px;
}

#accConsole {
	width: 100%;
}

/* Characters
----------------------------------------------------------------------------- */
#chrSummary, #chrStatistics {
	width: 100%;
	text-align: center;
}

#chrSummary {
	display: none;
	margin-top: 16px;
	margin-bottom: 16px;
}
#chrSummary var {
	line-height: normal;
}
#chrAccountName {
	font-family: Menomonia;
	font-size: 64px;
	font-variant: small-caps;
	font-weight: bold;
	letter-spacing: 2px;
	color: #ffeebb;
}
#chrAccountServer {
	font-size: 24px;
	font-family: Menomonia;
}
#chrAccountAge {
	color: #bbcc77;
}
#chrAccountDeaths {
	color: #ff2200;
}
#chrAccountLifetime {
	color: #ccc;
}
#chrAccountMisc {
	display: none;
}
#chrSummary:hover #chrAccountName {
	display: none;
}
#chrSummary:hover #chrAccountMisc {
	display: block;
	height: 48px;
	overflow: visible;
	line-height: 18px;
	font-size: 12px;
	animation: aniFadeIn 0.4s;
}

.chrHeaderLeft, .chrHeaderRight {
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0px 0px 2px #e4e0b3;
	color: #e4e0b3;
}
.chrHeaderLeft {
	margin-left: 32px;
	float: left;
}
.chrHeaderRight {
	margin-right: 8px;
	float: right;
}

#chrStatistics ul {
	display: inline-block;
	margin-right: 8px;
	font-size: 18px;
}

#chrSelection li {
	display: block;
	width: auto; height: 32px;
	overflow: hidden;
	vertical-align: middle;
	line-height: 32px;
	text-align: left;
	background-repeat: repeat-y;
}
#chrSelection li:nth-child(even) {
	background-image: linear-gradient(to right, #333 0%, rgba(255,255,255,0) 100%);
}
#chrSelection li:hover {
	background-image: linear-gradient(to right, #7c7253 0%, rgba(255,255,255,0) 100%);
	animation: aniHighlight 0.4s;
}
.chrPortrait {
	display: block;
	width: 32px; height: 32px;
	float: left;
	border-radius: 4px;
	margin-right: 8px;
}
.chrName {
	display: inline-block;
	width: 176px;
	overflow: hidden;
	white-space: nowrap;
	font-family: Menomonia;
}
.chrTag {
	margin-left: 4px;
	font-size: 12px;
	color: #ffbb44;
	opacity: 0.4;
}
.chrTrivial { /* Situational class to fade trivial information */
	opacity: 0.4;
}
.chrCommitment { /* Contains profession and crafting icons */
	display: inline-block;
	width: 128px;
	float: right;
}
.chrCrafting {
	margin-left: 4px;
	pointer-events: none;
}
.chrLevel {
	width: 32px;
	position: absolute;
	margin-left: -32px;
	margin-top: -16px;
	text-align: center;
	font-size: 10px;
	color: #ffeeaa;
	text-shadow:
		0px 1px 1px #000,
		0px -1px 1px #000,
		1px 0px 1px #000,
		-1px 0px 1px #000;
}
.chrProceed {
	margin-top: 8px;
	float: right;
}

#chrStatistics samp { /* A bar graph */
	vertical-align: middle;
	display: inline-block;
	width: 96px; height: 12px;
	border: 1px solid rgba(0, 0, 0, 0.8);
	border-radius: 2px;
	background: rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 1px black;
}
#chrStatistics samp s { /* The inner progress of the bar graph */
	display: block;
	height: 100%;
	background: url("../img/background/bargraph.png"), linear-gradient(to bottom, #fff392 0%, #eadf86 50%, #807a49 100%);
	box-shadow: 0px 0px 2px #62a01c;
	border-radius: 1px;
}

.chrStats {
	vertical-align: top;
}
.chrStats li { /* A row containing texts and graphs */
	height: 32px;
	padding-right: 16px;
	overflow: hidden;
	line-height: 32px;
}
.chrStats li:nth-child(even) {
	background-image: linear-gradient(to left, #333 0%, rgba(255,255,255,0) 100%);
}
.chrStats li:hover {
	background: #444;
}
#chrStatistics .chrHoverName abbr { /* Character name again, hidden beside the bar graphs */
	display: none;
}
#chrStatistics .chrHoverName:hover abbr {
	display: inline-block;
	position: absolute;
	width: 196px;
	white-space: nowrap;
	font-family: Menomonia;
	background: linear-gradient(to left, rgba(255,255,255,0) 0%, #333 50%, rgba(255,255,255,0) 100%);
}
.chrHeader {
	border-top: 1px solid #222;
	border-bottom: 1px solid #000;
	background: linear-gradient(to right, #000 0%, rgba(255,255,255,0) 100%) !important;
}
.chrAge, .chrDeaths, .chrLifetime, .chrBirthday, .chrBirthdate { /* Text and values */
	display: inline-block;
	width: 64px;
	text-align: right;
	white-space: nowrap;
}
.chrAge {
	width: 70px;
	margin-right: 8px;
	color: #bbcc77;
}
.chrDeaths {
	width: 70px;
	color: #ff2200;
}
.chrLifetime {
	width: 112px;
	margin-right: 8px;
}
.chrBirthday {
	width: 56px;
	margin-right: 8px;
}
.chrBirthdate {
	width: 224px;
	color: #ccc;
}

/* Adjustments for smaller screens
----------------------------------------------------------------------------- */
@media (max-width: 720px) {
	
.accMenuTitle {
	display: none;
}
#accMenu li {
	padding-left: 2px;
	padding-right: 2px;
	margin-right: 2px;
}

}