/*
	http://gw2timer.com/account
	Account API stylesheet.
*/

#accContent {
	font-family: Menomonia;
	font-size: 16px;
}

#accClose, #accExpand {
	position: absolute;
	left: auto;
	top: 0; right: 0;
}
#accExpand {
	right: 32px;
}
#accClose:active, #accExpand:active {
	opacity: 0.8;
}

.accPlatter {
	display: none;
}

/* Menu
----------------------------------------------------------------------------- */
#accMenu {
	padding: 0;
	font-size: 16px;
	text-align: center;
	font-family: Menomonia;
	border-bottom: 1px solid #444;
}
#accMenu li {
	display: inline-block;
	padding-left: 4px;
	margin-right: 12px;
	text-align: left;
	background-repeat: repeat-y;
}
#accMenu li:hover {
	background-image: linear-gradient(to right, #7c7253 0%, rgba(255,255,255,0) 100%);
	animation: aniHighlight 0.4s;
}
#accMenu li img {
	margin-right: 2px;
}
#accProgressBar {
	display: block;
	margin-bottom: 16px;
	width: 100%; height: 1px;
}
#accProgress {
	display: block;
	width: 0%; height: 1px;
	background: linear-gradient(to right, #000 0%, #eadf86 100%);
}

/* Key manager
----------------------------------------------------------------------------- */

#accManager, #accHelp {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	font-family: sans-serif;
}
#accManager {
	text-align: center;
	margin-bottom: 32px;
}
#accManager .accTokenName {
	display: inline-block;
	min-width: 128px;
	width: 20%;
	margin-right: 16px;
}
#accManager .accTokenKey {
	display: inline-block;
	min-width: 256px;
	width: 50%;
	margin-right: 16px;
}
#accManager input.accTokenKey {
	font-family: monospace;
	font-size: 14px;
}
.accTokenButtons {
	display: inline-block;
	width: 72px;
}
.accTokenButtons button {
	width: 32px;
}

#accTokenNew {
	display: inline-block;
	margin-top: 8px;
	width: 64px;
}

#accConsole {
	width: 100%;
}

/* Characters
----------------------------------------------------------------------------- */
#chrSummary {
	width: 100%;
	text-align: center;
}

#chrSelection, #chrInfo {
	display: inline-block;
	font-size: 18px;
}
#chrSelection {
	margin-right: 8px;
}
#chrInfo {
	
}

#chrSelection li {
	display: block;
	width: auto; height: 32px;
	overflow: hidden;
	vertical-align: middle;
	line-height: 32px;
	background-repeat: repeat-y;
}
#chrSelection li:nth-child(even) {
	background-image: linear-gradient(to right, #333 0%, rgba(255,255,255,0) 100%);
}
#chrSelection li:hover {
	background-image: linear-gradient(to right, #7c7253 0%, rgba(255,255,255,0) 100%);
	animation: aniHighlight 0.4s;
}
.chrName {
	display: inline-block;
	min-width: 128px; max-width: 192px;
	overflow: hidden;
	white-space: nowrap;
}
.chrPortrait {
	display: block;
	width: 32px; height: 32px;
	float: left;
	border-radius: 4px;
	margin-right: 8px;
}
.chrProfession {
	display: inline-block;
	width: 64px;
	float: right;
}
.chrProceed {
	margin-top: 8px;
	float: right;
}

#chrInfo {
	vertical-align: top;
}
#chrInfo li {
	height: 32px;
	line-height: 32px;
}
.chrAge {
	display: inline-block;
	width: 64px;
	text-align: right;
	color: #bbcc77;
}