/*
 * This file is used by http://gw2timer.com/map
 * Additional stylesheet for the Map page's features.
 */

/* =============================================================================
 *  Daily Calendar
 * ========================================================================== */
.dlyLists h2 img {
	width: 24px; height: 24px;
}

#dlyHeader {
	margin-top: 8px;
	margin-bottom: 8px;
	text-align: center;
}
#dlyActivity {
	margin-top: -16px;
	text-align: center;
	white-space: nowrap;
}

#dlyCalendar div { /* A day */
	margin-bottom: 16px;
	border-radius: 16px;
	padding: 4px;
	background: linear-gradient(to top, #111 0%, #333 100%);
}
#dlyCalendar div:hover {
	background: linear-gradient(to bottom, #111 0%, #333 100%);
}
#dlyCalendar div.dlyCurrent {
	padding-top: 8px;
	padding-bottom: 8px;
	border: 2px solid lime;
	box-shadow: 0px 0px 8px lime;
}
#dlyCalendar div.dlyNext {
	border: 2px solid green;
	box-shadow: 0px 0px 8px green;
}
#dlyCalendar span { /* Daily category */
	display: block;
	width: 220px;
	border-bottom: 1px dotted #333;
}
#dlyCalendar span:hover {
	border-radius: 16px;
	background-color: rgba(255, 255, 102, 0.1);
	box-shadow: 0px 0px 4px #ffff66;
}
#dlyCalendar ins, .dly { /* Daily */
	display: inline-block;
	width: 32px; height: 32px;
	margin-right: 8px;
	border: 1px solid transparent;
	border-radius: 8px;
	background-image: url("../img/daily/dailies.png");
}
#dlyCalendar ins:hover {
	border: 1px solid #ffff66;
	box-shadow: 0px 0px 4px #ffff66;
}
#dlyCalendar div aside, /* Day background */
#dlyCalendar div var, /* Day number */
#dlyCalendar div em { /* Boss icon */
	display: block;
	position: absolute;
	width: 80px; height: 64px;
	margin-top: 12px;
	margin-left: 230px;
	border-top: 16px solid #3e75bc;
	border-radius: 8px;
	font-family: sans-serif;
	line-height: 100%;
	text-align: center;
	color: #3b83f3;
	background: #333;
}
#dlyCalendar div var,
#dlyCalendar div em {
	background: transparent;
}
#dlyCalendar div var {
	font-size: 60px;
	opacity: 0.9;
}
#dlyCalendar div var.dlySaturday {
	color: #dd3322;
}
#dlyCalendar div var.dlySunday {
	color: #cc3322;
}
#dlyCalendar em img {
	width: 64px; height: 64px;
	margin: 0;
	border: none;
	opacity: 0.2;
}
#dlyCalendar em img:hover {
	border: none;
}
#dlyCalendar div:hover var {
	opacity: 0.2;
}
#dlyCalendar div:hover em img {
	opacity: 1;
}

#dlyCalendar ins.dlyRegion {
	background-image: url("../img/daily/regions.png");
	border: 1px solid transparent;
	box-shadow: none;
}
.dly_region_ascalon { background-position: 0 0; }
.dly_region_jungle { background-position: -32px 0; }
.dly_region_kryta { background-position: -64px 0; }
.dly_region_magus { background-position: -96px 0; }
.dly_region_orr { background-position: -128px 0; }
.dly_region_shiverpeaks { background-position: -160px 0; }
.dly_region_wastes { background-position: -192px 0; }

.dly_daily_pve { background-position: 0 0; }
.dly_daily_pvp { background-position: -32px 0; }
.dly_daily_wvw { background-position: -64px 0; }
.dly_pve_activity { background-position: -96px 0; }
.dly_pve_boss { background-position: -128px 0; }
.dly_pve_event { background-position: -160px 0; }
.dly_pve_forager { background-position: -192px 0; }
.dly_pve_forger { background-position: -224px 0; }
.dly_pve_fractal { background-position: -256px 0; }
.dly_pve_lumberer { background-position: -288px 0; }
.dly_pve_miner { background-position: -320px 0; }
.dly_pve_vista { background-position: -352px 0; }
.dly_pvp_capture { background-position: -384px 0; }
.dly_pvp_defender { background-position: -416px 0; }
.dly_pvp_kills { background-position: -448px 0; }
.dly_pvp_profession_ele_0 { background-position: -480px 0; }
.dly_pvp_profession_ele_1 { background-position: -512px 0; }
.dly_pvp_profession_eng_0 { background-position: -544px 0; }
.dly_pvp_profession_eng_1 { background-position: -576px 0; }
.dly_pvp_profession_guard_0 { background-position: -608px 0; }
.dly_pvp_profession_guard_1 { background-position: -640px 0; }
.dly_pvp_profession_mes_0 { background-position: -672px 0; }
.dly_pvp_profession_mes_1 { background-position: -704px 0; }
.dly_pvp_profession_necro_0 { background-position: -736px 0; }
.dly_pvp_profession_necro_1 { background-position: -768px 0; }
.dly_pvp_profession_ranger_0 { background-position: -800px 0; }
.dly_pvp_profession_ranger_1 { background-position: -832px 0; }
.dly_pvp_profession_rev_0 { background-position: -864px 0; }
.dly_pvp_profession_rev_1 { background-position: -896px 0; }
.dly_pvp_profession_thief_0 { background-position: -928px 0; }
.dly_pvp_profession_thief_1 { background-position: -960px 0; }
.dly_pvp_profession_war_0 { background-position: -992px 0; }
.dly_pvp_profession_war_1 { background-position: -1024px 0; }
.dly_pvp_rank { background-position: -1056px 0; }
.dly_pvp_reward { background-position: -1088px 0; }
.dly_wvw_camp { background-position: -1120px 0; }
.dly_wvw_caravan { background-position: -1152px 0; }
.dly_wvw_creature { background-position: -1184px 0; }
.dly_wvw_defender { background-position: -1216px 0; }
.dly_wvw_guard { background-position: -1248px 0; }
.dly_wvw_keep { background-position: -1280px 0; }
.dly_wvw_kills { background-position: -1312px 0; }
.dly_wvw_land { background-position: -1344px 0; }
.dly_wvw_monument { background-position: -1376px 0; }
.dly_wvw_ruins { background-position: -1408px 0; }
.dly_wvw_spender { background-position: -1440px 0; }
.dly_wvw_tower { background-position: -1472px 0; }


/* =============================================================================
 *  JP
 * ========================================================================== */
dt.jpzListNameChecked {
	color: #ffff00;
}
dt.jpzListNameHover {
	color: #66aaff;
}
.jpzList cite a {
	font-style: normal;
	text-decoration: none;
}
.jpzList label {
	display: inline;
	float: right;
	padding: 4px;
	border: 1px solid transparent;
	border-radius: 4px;
}
.jpzList label:hover {
	border: 1px solid red;
}
#jpzCounter {
	float: right;
	font-size: 18px;
	color: #ffeebb;
}

.mapChestSplendid img {
	box-shadow: 0px 0px 10px gold;
}

.jpzDifficulty0, .jpzDifficulty1, .jpzDifficulty2, .jpzDifficulty3, .jpzDifficulty4 {
	border-radius: 50%;
	opacity: 0.9;
}
.jpzDifficulty0 { border: 2px solid black; }
.jpzDifficulty1 { border: 2px solid lime; }
.jpzDifficulty2 { border: 2px solid orange; }
.jpzDifficulty3 { border: 2px solid red; }
.jpzDifficulty4 { border: 2px solid purple; }


/* =============================================================================
 *  Resource Nodes
 * ========================================================================== */
.nodList {
	font-size: 11px;
}
.nodList div {
	min-width: 110px;
}
.nodList button {
	width: 84px;
}
.nodList label img {
	width: 16px; height: 16px;
}
.nodList div abbr { /* Resource name */
	display: inline;
}
.nodList div:hover abbr {
	display: none;
}
.nodList div var {
	display: none;
} 
.nodList div:hover var { /* Resource price */
	display: inline;
	margin-left: 2px;
	font-size: 12px;
	font-weight: bold;
}

.nodRich img, .mapChestBasic img, .mapChestSplendid img {
	width: 32px; height: 32px;
	border-radius: 16px;
	opacity: 0.9;
}
.nodRegular img, .nodHotspot img {
	width: 24px; height: 24px;
	border-radius: 16px;
	opacity: 0.9;
}
.nodRich img {
	border: 2px solid lime;
}
.nodRegular img {
	border: 2px dotted limegreen;
}
.nodHotspot img {
	border: 2px dashed lime;
	border-radius: 2px;
}


/* =============================================================================
 *  Collectible Items
 * ========================================================================== */
#cltList div {
	display: block;
}
#cltList div label {
	display: block;
	width: auto;
	margin: 0;
}
#cltList ins {
	width: 32px; height: 32px;
	margin-right: 4px;
	border-radius: 8px;
	background-image: url("../img/collectible/collectibles.png");
}
#cltList div a {
	text-decoration: underline;
}
#cltList div:hover label {
	font-weight: bold;
}
#cltList div:hover ins {
	box-shadow: 0px 0px 4px #ffff66;
}
#cltList div span { /* Text buttons line */
	display: block;
	margin-top: -4px;
	padding-bottom: 4px;
	border-bottom: 1px solid #111;
	text-align: right;
}

.clt_story { background-position: 0 0; }
.clt_airshipcargo { background-position: -32px 0; }
.clt_aurictablets { background-position: -64px 0; }
.clt_banditchests { background-position: -96px 0; }
.clt_buriedchests { background-position: -128px 0; }
.clt_cleaningup { background-position: -160px 0; }
.clt_coinchallenger { background-position: -192px 0; }
.clt_coinprospect { background-position: -224px 0; }
.clt_coinuplands { background-position: -256px 0; }
.clt_crystallizedcaches { background-position: -288px 0; }
.clt_divemaster { background-position: -320px 0; }
.clt_exaltedchests { background-position: -352px 0; }
.clt_exaltedmasks { background-position: -384px 0; }
.clt_goldenlostbadges { background-position: -416px 0; }
.clt_herochallenge { background-position: -448px 0; }
.clt_historybuff { background-position: -480px 0; }
.clt_itzeltotems { background-position: -512px 0; }
.clt_lionsarchexterminator { background-position: -544px 0; }
.clt_lostbadges { background-position: -576px 0; }
.clt_masteryinsight { background-position: -608px 0; }
.clt_matrixcubekey { background-position: -640px 0; }
.clt_noxiouspods { background-position: -672px 0; }
.clt_prioryseals { background-position: -704px 0; }
.clt_speedyreader { background-position: -736px 0; }
.clt_strongboxes { background-position: -768px 0; }

.mapNeedle0, .mapNeedle1, .mapNeedle2 {
	border-radius: 16px;
	font-family: sans-serif;
	font-size: 12px;
	text-align: center;
	background: none;
	text-shadow:
		1px 1px 0px #000,
		-1px -1px 0px #000,
		1px -1px 0px #000,
		-1px 1px 0px #000,
		1px 1px 0px #000;
	opacity: 0.9;
}
.mapNeedle0 { border: 2px solid lime; }
.mapNeedle1 { border: 2px solid red; }
.mapNeedle2 { border: 2px solid white; }
.mapNeedleExtreme0, .mapNeedleExtreme3 { border-width: 6px; border-style: solid; }
.mapNeedleExtreme1 { border-width: 6px; border-style: dotted; }


/* =============================================================================
 *  Guild Missions
 * ========================================================================== */
#chlCountdownToReset {
	margin: 12px;
	text-align: center;
	font-size: 32px;
	color: #bbcc77;
	text-shadow: 0px 0px 2px black;
}

#gldButtons {
	margin-top: 8px;
	text-align: center;
}
#gldButtons div {
	display: inline-block;
	width: 50px;
	margin-right: 8px;
}
#gldBooks a {
	text-decoration: none;
}
#gldButtons button {
	width: 48px; height: 48px;
	padding: 0;
}
#gldButtons button:active {
	opacity: 0.8;
}

#gldInfluence input[type="text"] {
	width: 100px;
	padding-right: 4px;
	margin-right: 8px;
	text-align: right;
}
#gldBooks input[type="text"].gldWaypoint {
	width: 90px;
	margin-bottom: 4px;
	margin-right: 8px;
	color: #888;
}

#gldButtons .gldHide {
	width: 48px;
}

#gldButtons .gldHide img {
	width: 24px; height: 24px;
}


/* =============================================================================
 *  Trading Post
 * ========================================================================== */
/* Arithmetic Calculator
----------------------------------------------------------------------------- */
#trdCalculation .trdCalculator {
	width: 220px;
	margin-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 6px;
	padding-right: 6px;
	border-radius: 4px;
	color: white;
}

#trdCalculation .trdCalcSubmit {
	padding: 4px;
}

/* Gem exchange
----------------------------------------------------------------------------- */
#trdExchange input[type="text"] {
	width: 68px;
	padding-right: 4px;
	text-align: right;
	font-family: sans-serif;
	border-radius: 4px;
	color: #ffddcc;
}
#trdExchange input[type="text"].trdOutput {
	border: 1px dotted #555;
	color: #ffeebb;
}
#trdExchange img {
	width: 24px; height: 24px;
}

#trdExchange section {
	margin-top: 2px;
}

/* Trading calculator
----------------------------------------------------------------------------- */
.trdProgressBar {
	width: 292px; height: 4px;
	margin-top: 8px;
	margin-bottom: 8px;
	border: 1px solid #222;
	background: #493114;
}
.trdProgress {
	width: 100%; height: 4px;
	border-radius: 2px;
	background: #eadf86;
	box-shadow: 0px 0px 4px #444;
}

#trdToggle {
	width: 96px;
}
#trdRefresh {
	width: 96px;
}
#trdMute {
	width: 64px;
}
#trdPrint {
	width: 64px; height: 28px;
}
.trdResultsFocus {
	display: inline-block;
}
.trdResultsContainer {
	position: relative;
}
.trdResults {
	position: absolute;
	width: 270px;
	max-height: 220px;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 4px;
}
.trdResults dfn {
	display: block;
}
.trdResults dfn img {
	width: 16px; height: 16px;
	margin-right: 8px;
}
.trdResults dfn:hover img {
	width: 32px; height: 32px;
}
.trdAccordionShut {
	display: inline-block;
}
.trdAccordionShut:hover {
	padding-top: 8px;
	border-left: 1px solid red;
	border-top: 1px solid red;
	border-bottom: 1px solid red;
	border-radius: 8px;
}
.trdAccordionShut .trdExpand,
.trdAccordionShut button,
.trdAccordionShut:hover + .trdPreview {
	display: none;
}
.trdAccordionShut:hover .trdExpand, .trdAccordionOpen .trdExpand {
	display: block;
}
.trdAccordionShut:hover input[type="text"].trdName, .trdAccordionOpen input[type="text"].trdName {
	width: 204px;
}
.trdAccordionShut:hover button, .trdAccordionOpen button, .trdPreview,  .trdButtons {
	display: inline-block;
}
.trdPreview input[type="text"].trdCurrentBuy, .trdPreview input[type="text"].trdCurrentSell {
	width: 67px;
}
.trdButtons button {
	width: 24px; height: 24px;
}
.trdEntry input[type="text"] {
	width: 103px;
	margin: 2px;
	padding: 2px;
	padding-right: 4px;
	text-align: right;
	font-family: sans-serif;
	border-radius: 4px;
	color: #ffeebb;
}
.trdEntry abbr {
	display: inline-block;
	width: 36px;
	margin-right: 4px;
	text-align: right;
	font-family: monospace;
	font-size: 16px;
	color: #888;
}
img.trdIcon {
	width: 24px; height: 24px;
	border-radius: 4px;
}
img.trdIcon:hover {
	width: 64px; height: 64px;
	border-radius: 8px;
}
input[type="text"].trdName {
	width: 100px;
	text-align: center;
	font-weight: bold;
	color: #ffddcc;
}
button.trdSearch {
	margin-left: 2px;
	margin-right: 2px;
}
input[type="text"].trdBuy, input[type="text"].trdSell {
	color: #ffddcc;
}
input[type="text"].trdInput {
	border-radius: 4px;
	color: #ffeebb;
}
input[type="text"].trdOutput {
	border-radius: 4px;
	border: 1px dashed #555;
	background: #333;
}
input[type="text"].trdOutput:hover {
	border: 1px dashed #555;
	text-shadow:
		1px 1px 0px #000,
		-1px -1px 0px #000,
		1px -1px 0px #000,
		-1px 1px 0px #000,
		1px 1px 0px #000;
}
.trdPreview input[type="text"].trdOutput:hover {
	text-shadow: none;
}
input[type="text"].trdQuantity {
	width: 64px;
	margin-right: 2px;
	color: #ffddcc;
}
input[type="text"].trdTax {
	width: 142px;
}
input[type="text"].trdRevenue {
	color: #ffcc77;
}
input[type="text"].trdZero {
	color: white;
}
input[type="text"].trdGain {
	color: #44dd44;
}
input[type="text"].trdLoss {
	color: #ff2200;
}
input[type="text"].trdLink {
	width: 24px;
	color: #888;
}
input[type="text"].trdItem {
	width: 67px;
	font-family: Consolas, monospace;
	font-size: 14px;
	color: #888;
}
input[type="text"].trdCurrentBuy, input[type="text"].trdNotifyBuyLow, input[type="text"].trdNotifyBuyHigh,
input[type="text"].trdCurrentSell, input[type="text"].trdNotifySellLow, input[type="text"].trdNotifySellHigh {
	width: 68px;
}
input[type="text"].trdCurrentBuy, input[type="text"].trdCurrentSell,
input[type="text"].trdCurrentBuy:hover, input[type="text"].trdCurrentSell:hover{
	border: 1px dotted #555;
}
input[type="text"].trdMatched {
	border: 1px solid #ee55cc;
}
input[type="text"].trdHovered {
	border: 1px solid red;
}

input[type="text"].rarity0 { color: #aaaaaa; /* junk gray */ }
input[type="text"].rarity1 { color: #ffffff; /* basic white */ }
input[type="text"].rarity2 { color: #5599ff; /* fine blue */ }
input[type="text"].rarity3 { color: #33cc11; /* masterwork green */ }
input[type="text"].rarity4 { color: #ffdd22; /* rare yellow */ }
input[type="text"].rarity5 { color: #ffaa00; /* exotic orange */ }
input[type="text"].rarity6 { color: #ff4488; /* ascended magenta */ }
input[type="text"].rarity7 { color: #9933ff; /* legendary violet */ }


/* =============================================================================
 *  Personal Checklist
 * ========================================================================== */
#chlDungeon {
	margin-top: 12px;
	margin-left: 12px;
}

#chlDungeonCalculator {
	
	margin-left: 48px;
	margin-bottom: 6px;
	font-size: 18px;
	font-weight: bold;
	text-shadow:
		1px 1px 0px #000,
		-1px -1px 0px #000,
		1px -1px 0px #000,
		-1px 1px 0px #000,
		1px 1px 0px #000;
}

#chlDungeonCalculator img {
	width: 24px; height: 24px;
	margin-left: 2px;
}

#chlDungeonCalculator span {
	padding-bottom: 6px;
	padding-left: 4px;
	border-bottom: 1px solid #e4e0b3;
	border-radius: 4px;
	text-align: right;
}

#chlDungeonCalculator_Gold {
	color: #ddbb44;
}
#chlDungeonCalculator_Silver {
	color: #aaaaaa;
}
#chlDungeonCalculator_Copper {
	color: #bb6622;
}

.chlDungeonNight {
	position: absolute;
	width: 16px; height: 16px;
	margin-left: -16px;
	margin-top: 16px;
}
.chlDungeonBar ins {
	width: 32px; height: 32px;
	margin-right: 6px;
	border-bottom: 1px solid #e4e0b3;
	border-radius: 4px;
	vertical-align: middle;
	background-image: url("../img/dungeon/dungeons.png");
}
.chl_ac { background-position: 0 0; }
.chl_arah { background-position: -32px 0; }
.chl_cm { background-position: -64px 0; }
.chl_coe { background-position: -96px 0; }
.chl_cof { background-position: -128px 0; }
.chl_fotm { background-position: -160px 0; }
.chl_hotw { background-position: -192px 0; }
.chl_se { background-position: -224px 0; }
.chl_ta { background-position: -256px 0; }

.chlDungeonBar label {
	display: inline;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 2px;
	border: 1px solid transparent;
	border-radius: 4px;
}
.chlDungeonBar label:hover {
	border: 1px solid red;
}
.chlDungeonBar label.chlCheckboxChecked {
	border: 1px solid #ddff77;
	font-weight: bold;
	color: #ff2200;
	opacity: 1;
}
.chlDungeonBar label.chlCheckboxDisabled {
	opacity: 0.3;
}

/* Custom checklist */
#chlCustomButtons {
	margin-top: 4px;
	text-align: center;
}
#chlCustomButtons button {
	width: 72px; height: 36px;
	font-size: 24px;
}

#chlCustom input {
	display: inline;
}

#chlCustom input[type="text"] {
	display: inline;
	width: 260px;
	padding: 4px;
	margin-left: 8px;
	margin-bottom: 4px;
}

#chlCustom input[type="text"].chlCustomTextChecked {
	color: red;
}

#chlCustom label, .trdEntry label {
	display: inline;
	padding-top: 4px;
	padding-right: 2px;
	padding-bottom: 4px;
	padding-left: 2px;
	border: 1px solid transparent;
	border-radius: 4px;
}

#chlCustom label:hover, .trdEntry label:hover {
	border: 1px solid red;
}

#chlCustom label.chlCheckboxChecked, label.chlCheckboxChecked {
	border: 1px solid #ddff77;
}

#chlNotepadButtons {
	display: inline-block;
	margin-top: 4px;
}
#chlNotepadSheets {
	margin-top: 10px;
}
#chlNotepadButtons button {
	margin-right: 2px;
}
#chlNotepad textarea {
	display: none;
	width: 300px; height: 500px;
	padding: 4px;
	border-radius: 4px;
	font-family: sans-serif;
	font-size: 12px;
	color: #ffddcc;
}
