/*
 * This file is used by http://gw2timer.com/map
 * Additional stylesheet for the Map page's features.
 */

/* =============================================================================
 *  Daily Calendar
 * ========================================================================== */
.dlyLists h2 img {
	width: 24px; height: 24px;
}

#dlyHeader {
	margin-top: 8px;
	margin-bottom: 8px;
	text-align: center;
}

.dlyBookmarks {
	margin-top: 4px !important;
	margin-bottom: 8px !important;
}

.dlyBox { /* A day */
	display: block;
	position: relative;
	margin-bottom: 16px;
	border-radius: 4px;
	padding: 4px;
	text-align: left;
	background: linear-gradient(to top, rgba(17, 17, 17, 0.4) 0%, rgba(51, 51, 51, 0.4) 100%);
}
.dlyBox:hover {
	background: linear-gradient(to bottom, rgba(17, 17, 17, 0.4) 0%, rgba(51, 51, 51, 0.4) 100%);
}
.dlyBoxDashboard {
	display: inline-block;
	min-width: 320px;
	margin: 8px;
}
.dlyCurrent {
	padding-top: 8px;
	padding-bottom: 8px;
	border: 2px solid lime;
	box-shadow: 0px 0px 8px lime;
}
.dlyNext {
	border: 2px solid green;
	box-shadow: 0px 0px 8px green;
}
.dlyMode { /* Daily category row */
	display: block;
	width: 220px;
	border-bottom: 1px dotted #555;
}
.dlyMode:hover {
	background-color: rgba(255, 255, 102, 0.1);
	box-shadow: 0px 0px 4px #ffff66;
}
.dlyModeFractal {
	width: auto;
	margin-top: 12px;
	margin-bottom: 4px;
	background-image: linear-gradient(to top, black 0%, rgba(255, 255, 255, 0.1) 100%);
	border-radius: 4px;
	box-shadow: 0px 0px 8px black;
}
.dlyBox ins { /* Daily */
	display: inline-block;
	width: 32px; height: 32px;
	margin-right: 8px;
	border: 1px solid transparent;
	border-radius: 8px;
}
.dlyBox ins:hover {
	border: 1px solid #ffff66;
	box-shadow: 0px 0px 4px #ffff66;
}
.dlyMonthday {
	display: block;
	position: absolute;
	width: 80px; height: 64px;
	margin-top: 12px;
	margin-left: 230px;
	font-family: sans-serif;
	line-height: 100%;
	text-align: center;
	background: #333;
	border-top: 16px solid #3e75bc;
	border-right: 4px solid #666;
	border-bottom: 2px solid #555;
	border-radius: 8px;
}
.dlyMonthdayNumber {
	color: #3b83f3 !important;
	text-decoration: none;
}
.dlyMonthdayNumber, .dlyActivityIconContainer {
	background: transparent;
}
.dlyMonthdayNumber {
	font-size: 60px;
	opacity: 0.9;
}
.dlySaturday {
	color: #dd3322 !important;
}
.dlySunday {
	color: #cc3322 !important;
}
.dlyActivityIcon {
	width: 64px; height: 64px;
	margin: 0;
	border: none;
	opacity: 0.2;
}
.dlyActivityIcon:hover {
	border: none;
}
.dlyBox:hover .dlyMonthdayNumber {
	opacity: 0.2;
}
.dlyBox:hover .dlyActivityIcon {
	opacity: 1;
}

.dlyCalendar .dlyFractalScales {
	margin-top: 8px;
	vertical-align: middle;
	font-size: 18px;
	font-family: Trebuchet MS, Menomonia;
	color: white;
}
.dlyCalendar .dlyFractalScales:hover {
	color: #ffeeaa;
}

.dlyCalendar ins.dlyRegion {
	background-image: url("../img/daily/regions.png");
	border: 1px solid transparent;
	box-shadow: none;
}
.dly_region_ascalon { background-position: 0 0; }
.dly_region_jungle { background-position: -32px 0; }
.dly_region_kryta { background-position: -64px 0; }
.dly_region_heart { background-position: -96px 0; }
.dly_region_orr { background-position: -128px 0; }
.dly_region_shiverpeaks { background-position: -160px 0; }
.dly_region_wastes { background-position: -192px 0; }

.dly {
	background-image: url("../img/daily/dailies.png");
}
.dly_daily_error { background-position: 0 0; }
.dly_daily_fractalisland { background-position: -32px 0; }
.dly_daily_fractalscale { background-position: -64px 0; }
.dly_daily_pve { background-position: -96px 0; }
.dly_daily_pvp { background-position: -128px 0; }
.dly_daily_wvw { background-position: -160px 0; }
.dly_pve_activity { background-position: -192px 0; }
.dly_pve_adventure { background-position: -224px 0; }
.dly_pve_boss { background-position: -256px 0; }
.dly_pve_dungeon_ac { background-position: -288px 0; }
.dly_pve_dungeon_arah { background-position: -320px 0; }
.dly_pve_dungeon_cm { background-position: -352px 0; }
.dly_pve_dungeon_coe { background-position: -384px 0; }
.dly_pve_dungeon_cof { background-position: -416px 0; }
.dly_pve_dungeon_hotw { background-position: -448px 0; }
.dly_pve_dungeon_se { background-position: -480px 0; }
.dly_pve_dungeon_ta { background-position: -512px 0; }
.dly_pve_event { background-position: -544px 0; }
.dly_pve_forager { background-position: -576px 0; }
.dly_pve_forger { background-position: -608px 0; }
.dly_pve_fractal { background-position: -640px 0; }
.dly_pve_jp { background-position: -672px 0; }
.dly_pve_lumberer { background-position: -704px 0; }
.dly_pve_miner { background-position: -736px 0; }
.dly_pve_vista { background-position: -768px 0; }
.dly_pvp_capture { background-position: -800px 0; }
.dly_pvp_defender { background-position: -832px 0; }
.dly_pvp_kills { background-position: -864px 0; }
.dly_pvp_matches { background-position: -896px 0; }
.dly_pvp_profession_ele_0 { background-position: -928px 0; }
.dly_pvp_profession_ele_1 { background-position: -960px 0; }
.dly_pvp_profession_eng_0 { background-position: -992px 0; }
.dly_pvp_profession_eng_1 { background-position: -1024px 0; }
.dly_pvp_profession_guard_0 { background-position: -1056px 0; }
.dly_pvp_profession_guard_1 { background-position: -1088px 0; }
.dly_pvp_profession_mes_0 { background-position: -1120px 0; }
.dly_pvp_profession_mes_1 { background-position: -1152px 0; }
.dly_pvp_profession_necro_0 { background-position: -1184px 0; }
.dly_pvp_profession_necro_1 { background-position: -1216px 0; }
.dly_pvp_profession_ranger_0 { background-position: -1248px 0; }
.dly_pvp_profession_ranger_1 { background-position: -1280px 0; }
.dly_pvp_profession_rev_0 { background-position: -1312px 0; }
.dly_pvp_profession_rev_1 { background-position: -1344px 0; }
.dly_pvp_profession_thief_0 { background-position: -1376px 0; }
.dly_pvp_profession_thief_1 { background-position: -1408px 0; }
.dly_pvp_profession_war_0 { background-position: -1440px 0; }
.dly_pvp_profession_war_1 { background-position: -1472px 0; }
.dly_pvp_rank { background-position: -1504px 0; }
.dly_pvp_reward { background-position: -1536px 0; }
.dly_pvp_stats { background-position: -1568px 0; }
.dly_wvw_camp { background-position: -1600px 0; }
.dly_wvw_caravan { background-position: -1632px 0; }
.dly_wvw_creature { background-position: -1664px 0; }
.dly_wvw_defender { background-position: -1696px 0; }
.dly_wvw_guard { background-position: -1728px 0; }
.dly_wvw_keep { background-position: -1760px 0; }
.dly_wvw_kills { background-position: -1792px 0; }
.dly_wvw_land { background-position: -1824px 0; }
.dly_wvw_monument { background-position: -1856px 0; }
.dly_wvw_ranker { background-position: -1888px 0; }
.dly_wvw_ruins { background-position: -1920px 0; }
.dly_wvw_spender { background-position: -1952px 0; }
.dly_wvw_tower { background-position: -1984px 0; }


/* =============================================================================
 *  JP
 * ========================================================================== */
dt.jpzListNameChecked {
	color: #ffff00;
}
dt.jpzListNameHover {
	color: #66aaff;
}
.jpzList cite a {
	font-style: normal;
	text-decoration: none;
}
.jpzList label {
	display: inline;
	float: right;
	padding: 4px;
	border: 1px solid transparent;
	border-radius: 4px;
}
.jpzList label:hover {
	border: 1px solid red;
}
#jpzCounter {
	float: right;
	font-size: 18px;
	color: #ffeebb;
}

.mapChestSplendid img {
	box-shadow: 0px 0px 10px gold;
}

.jpzDifficulty0, .jpzDifficulty1, .jpzDifficulty2, .jpzDifficulty3, .jpzDifficulty4 {
	border-radius: 50%;
	opacity: 0.9;
}
.jpzDifficulty5 {
	border-radius: 4px;
	opacity: 0.9;
}
.jpzDifficulty0 { border: 2px solid black; }
.jpzDifficulty1 { border: 2px solid lime; }
.jpzDifficulty2 { border: 2px solid orange; }
.jpzDifficulty3 { border: 2px solid red; }
.jpzDifficulty4 { border: 2px solid purple; }
.jpzDifficulty5 { border: 2px solid gold; }


/* =============================================================================
 *  Resource Nodes
 * ========================================================================== */
#nodMenu {
	white-space: nowrap;
}
.nodList {
	font-size: 11px;
	white-space: nowrap;
}
.nodColumn {
	display: inline-block;
	vertical-align: top;
	width: 33%;
}
.nodColumn label {
	white-space: nowrap;
	overflow: hidden;
}
.nodColumn button {
	width: 84px;
}
.nodColumn label img {
	width: 16px; height: 16px;
}
.nodColumn abbr { /* Resource name */
	display: inline;
	white-space: nowrap;
}
.nodColumn:hover abbr {
	display: none;
}
.nodColumn var {
	display: none;
} 
.nodColumn:hover var { /* Resource price */
	display: inline;
	margin-left: 2px;
	white-space: nowrap;
	font-size: 12px;
	font-weight: bold;
}

.nodRich img, .mapChestBasic img, .mapChestSplendid img {
	width: 32px; height: 32px;
	border-radius: 16px;
	opacity: 0.9;
}
.nodPermanent img, .nodRegular img, .nodHotspot img {
	width: 24px; height: 24px;
	border-radius: 16px;
	opacity: 0.9;
}
.nodRich img {
	border: 2px solid lime;
}
.nodPermanent img {
	border: 2px solid lime;
}
.nodRegular img {
	border: 2px dotted limegreen;
}
.nodHotspot img {
	border: 2px dashed lime;
	border-radius: 2px;
}


/* =============================================================================
 *  Collectible Items
 * ========================================================================== */
#cltFilter {
 	text-align: center;
 }
.cltFilterButton {
	width: 64px;
	margin-right: 2px;
}
.cltBox {
	display: block;
}
.cltBox label {
	display: block;
	width: auto;
	margin: 0;
}
.cltCheckedLabel {
	background: linear-gradient(to right, #7c7253 0%, transparent 100%);
	border-radius: 4px;
}
.cltIcon {
	width: 32px; height: 32px;
	margin-right: 4px;
	border-radius: 8px;
}
.cltBox a {
	text-decoration: underline;
}
.cltBox:hover label {
	font-weight: bold;
}
.cltLinks { /* Text buttons line */
	display: block;
	margin-top: -4px;
	padding-bottom: 4px;
	border-bottom: 1px solid #111;
	text-align: right;
}
.cltSublist { /* A list for a special collectible type */
	display: none;
}

.mapNeedle0, .mapNeedle1, .mapNeedle2 {
	border-radius: 50%;
	line-height: normal;
	font-family: sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	background: none;
	text-shadow:
		0px 1px 1px #000,
		0px -1px 1px #000,
		1px 0px 1px #000,
		-1px 0px 1px #000;
	opacity: 0.9;
}
.mapNeedle0 { border: 2px solid lime; }
.mapNeedle1 { border: 2px solid red; }
.mapNeedle2 { border: 2px solid white; }
.mapNeedleExtreme0, .mapNeedleExtreme3 { border-width: 6px; border-style: solid; }
.mapNeedleExtreme1 { border-width: 6px; border-style: dotted; }
.mapNeedleIcon {
	display: block;
	width: 100%; height: 100%;
	background-position: center;
}

/* Ranger Pets additional style */
.cltPetBox {
	white-space: nowrap;
	font-family: Trebuchet MS, Menomonia;
	font-size: 16px;
	font-weight: normal;
	line-height: 18px;
	background-repeat: repeat-y;
	color: #aaaaaa;
}
.cltPetBox:nth-child(even) {
	background-image: linear-gradient(to right, #333 0%, transparent 100%);
}
.cltPetIcon {
	display: inline-block;
	width: 48px; height: 48px;
	margin-right: 4px;
	background-position: center;
}
.cltPetIconBackground {
	width: 100%; height: 100%;
	display: block;
}
.cltPetIcon:hover .cltPetIconBackground {
	background-image: radial-gradient(ellipse at center, rgba(255,255,0,0.4) 0%, transparent 100%);
}
.cltPetIcon:active .cltPetIconBackground {
	background-image: radial-gradient(ellipse at center, transparent 0%, rgba(0,0,0,0.8) 100%);
}
.cltPetIconFocused .cltPetIconBackground {
	background-image: radial-gradient(ellipse at center, rgba(255,255,0,0.8) 0%, transparent 100%);
}
.cltPetFacts {
	display: inline-block;
	margin-top: 10px;
	vertical-align: top;
}
.cltPetFact {
	display: inline-block;
	width: 48px;
	white-space: nowrap;
	font-size: 14px;
}
.cltPetFact:hover {
	width: auto;
	background: #333;
	border-radius: 4px;
}
.cltPetFact:first-child {
	width: 96px;
	font-size: 16px;
}
.cltPetFact:first-child .cltPetFactIcon {
	width: 32px; height: 32px;
}
.cltPetFact:nth-child(2) {
	position: absolute;
	margin-left: -96px;
	margin-top: -16px;
	font-size: 12px;
}
.cltPetFact:nth-child(2) .cltPetFactIcon {
	width: 16px; height: 16px;
}
.cltPetFactIcon {
	width: 24px; height: 24px;
	margin-left: 8px;
	margin-right: 2px;
}
.cltPetStack {
	position: absolute;
	margin-top: 16px;
	margin-left: -10px;
	font-size: 16px;
	color: white;
	text-shadow:
		0px 1px 1px #000,
		0px -1px 1px #000,
		1px 0px 1px #000,
		-1px 0px 1px #000;
}


/* =============================================================================
 *  Guild Missions
 * ========================================================================== */
#gldButtons {
	margin-top: 8px;
	text-align: center;
}
.gldButtonContainer {
	display: inline-block;
	width: 50px;
	margin-right: 8px;
}
.gldLink {
	text-decoration: none;
}
.gldButton {
	width: 48px; height: 48px;
	padding: 0;
}
.gldButton:active {
	opacity: 0.8;
}

#gldInfluence input[type="text"] {
	width: 100px;
	padding-right: 4px;
	margin-right: 8px;
	text-align: right;
}
#gldBooks input[type="text"].gldWaypoint {
	width: 90px;
	margin-bottom: 4px;
	margin-right: 8px;
	color: #888;
}

#gldButtons .gldHide {
	width: 48px;
}

#gldButtons .gldHide img {
	width: 24px; height: 24px;
}


/* =============================================================================
 *  Trading Post
 * ========================================================================== */
/* Arithmetic Calculator
----------------------------------------------------------------------------- */
#trdCalculation .trdCalculator {
	width: 220px;
	margin-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 6px;
	padding-right: 6px;
	border-radius: 4px;
	color: white;
}

#trdCalculation .trdCalcSubmit {
	padding: 4px;
}

/* Gem exchange
----------------------------------------------------------------------------- */
#trdExchange input[type="text"] {
	width: 68px;
	padding-right: 4px;
	text-align: right;
	font-family: sans-serif;
	border-radius: 4px;
	color: #ffddcc;
}
#trdExchange input[type="text"].trdOutput {
	border: 1px dotted #555;
	color: #ffeebb;
}
#trdExchange img {
	width: 24px; height: 24px;
}

#trdExchange section {
	margin-top: 2px;
}

/* Trading calculator
----------------------------------------------------------------------------- */
.trdProgressBar {
	width: 292px; height: 4px;
	margin-top: 8px;
	margin-bottom: 8px;
	border: 1px solid #222;
	background: #493114;
}
.trdProgress {
	width: 100%; height: 4px;
	border-radius: 2px;
	background: #eadf86;
	box-shadow: 0px 0px 4px #444;
}

#trdButtons {
	white-space: nowrap;
	margin-bottom: 16px;
}
#trdToggle {
	width: 96px;
}
#trdRefresh {
	width: 96px;
}
#trdRefreshMirror {
	width: 96px;
	vertical-align: bottom;
}
#trdPause {
	width: 64px;
}
#trdMute {
	width: 64px;
}
#trdPrint {
	width: 224px; height: 28px;
	margin-top: 8px;
}
.trdResultsFocus {
	display: inline-block;
}
.trdResultsContainer {
	left: -40px;
}
.trdResults {
	position: absolute; z-index: 2;
	width: 270px;
	max-height: 220px;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 4px;
}
.trdResults dfn {
	display: block;
}
.trdResults dfn img {
	width: 16px; height: 16px;
	margin-right: 8px;
}
.trdResults dfn:hover img {
	width: 32px; height: 32px;
}
.trdAccordionShut {
	display: inline-block;
	position: relative;
}
.trdAccordionShut:hover {
	padding-top: 8px;
	border-left: 1px solid red;
	border-top: 1px solid red;
	border-bottom: 1px solid red;
	border-radius: 8px;
}
.trdAccordionShut .trdExpand,
.trdAccordionShut button,
.trdAccordionShut:hover + .trdPreview {
	display: none;
}
.trdAccordionShut:hover .trdExpand, .trdAccordionOpen .trdExpand {
	display: block;
}
.trdAccordionShut:hover input[type="text"].trdName, .trdAccordionOpen input[type="text"].trdName {
	width: 204px;
}
.trdAccordionShut:hover button, .trdAccordionOpen button, .trdPreview,  .trdButtons {
	display: inline-block;
}
.trdPreview input[type="text"].trdCurrentBuy, .trdPreview input[type="text"].trdCurrentSell {
	width: 67px;
}
.trdButtons button {
	width: 24px; height: 24px;
}
.trdEntry {
	white-space: nowrap;
}
.trdEntry input[type="text"] {
	width: 103px;
	margin: 2px;
	padding: 2px;
	padding-right: 4px;
	text-align: right;
	font-family: sans-serif;
	border-radius: 4px;
	color: #ffeebb;
}
.trdEntry abbr {
	display: inline-block;
	width: 36px;
	margin-right: 4px;
	text-align: right;
	font-family: monospace;
	font-size: 16px;
	color: #888;
}
img.trdIcon {
	width: 24px; height: 24px;
	border-radius: 4px;
}
img.trdIcon:hover {
	position: absolute;
	top: -32px; left: -14px;
	width: 64px; height: 64px;
	border-radius: 8px;
	border: 1px solid red;
}
input[type="text"].trdName {
	width: 100px;
	text-align: center;
	font-weight: bold;
	color: #ffddcc;
}
button.trdSearch {
	margin-left: 2px;
	margin-right: 2px;
}
input[type="text"].trdBuy, input[type="text"].trdSell {
	color: #ffddcc;
}
input[type="text"].trdInput {
	border-radius: 4px;
	color: #ffeebb;
}
input[type="text"].trdOutput {
	border-radius: 4px;
	border: 1px dashed #555;
	background: rgba(255, 255, 255, 0.1);
}
input[type="text"].trdOutput:hover {
	border: 1px dashed #555;
	text-shadow:
		1px 1px 0px #000,
		-1px -1px 0px #000,
		1px -1px 0px #000,
		-1px 1px 0px #000,
		1px 1px 0px #000;
}
.trdPreview input[type="text"].trdOutput:hover {
	text-shadow: none;
}
input[type="text"].trdQuantity {
	width: 64px;
	margin-right: 2px;
	color: #ffddcc;
}
input[type="text"].trdTax {
	width: 142px;
}
input[type="text"].trdRevenue {
	color: #ffcc77;
}
input[type="text"].trdZero {
	color: white;
}
input[type="text"].trdGain {
	color: #44dd44;
}
input[type="text"].trdLoss {
	color: #ff2200;
}
input[type="text"].trdLink {
	width: 24px;
	color: #888;
}
input[type="text"].trdItem {
	width: 67px;
	font-family: Consolas, monospace;
	font-size: 14px;
	color: #888;
}
input[type="text"].trdCurrentBuy, input[type="text"].trdNotifyBuyLow, input[type="text"].trdNotifyBuyHigh,
input[type="text"].trdCurrentSell, input[type="text"].trdNotifySellLow, input[type="text"].trdNotifySellHigh {
	width: 68px;
}
input[type="text"].trdCurrentBuy, input[type="text"].trdCurrentSell,
input[type="text"].trdCurrentBuy:hover, input[type="text"].trdCurrentSell:hover{
	border: 1px dotted #555;
}
input[type="text"].trdMatched {
	border: 1px solid #ee55cc;
}
input[type="text"].trdHovered {
	border: 1px solid red;
}

input[type="text"].rarity_Junk { color: #aaaaaa; /* gray */ }
input[type="text"].rarity_Basic { color: #ffffff; /* white */ }
input[type="text"].rarity_Fine { color: #5599ff; /* blue */ }
input[type="text"].rarity_Masterwork { color: #33cc11; /* green */ }
input[type="text"].rarity_Rare { color: #ffdd22; /* yellow */ }
input[type="text"].rarity_Exotic { color: #ffaa00; /* orange */ }
input[type="text"].rarity_Ascended { color: #ff4488; /* magenta */ }
input[type="text"].rarity_Legendary { color: #9933ff; /* violet */ }


/* =============================================================================
 *  Personal Checklist
 * ========================================================================== */
.chlCountdown {
	margin: 12px;
	text-align: center;
	font-family: Trebuchet MS, Menomonia;
	font-size: 32px;
	color: #bbcc77;
	text-shadow: 0px 0px 2px black;
}

#chlDungeon, #chlRaid {
	margin-top: 12px;
	margin-left: 12px;
}

#chlDungeonCalculator {
	margin-left: 48px;
	margin-bottom: 6px;
	font-size: 18px;
	font-weight: bold;
	text-shadow:
		1px 1px 0px #000,
		-1px -1px 0px #000,
		1px -1px 0px #000,
		-1px 1px 0px #000,
		1px 1px 0px #000;
}
#chlDungeonCalculator img {
	width: 24px; height: 24px;
	margin-left: 2px;
}
#chlDungeonCalculator span {
	padding-bottom: 6px;
	padding-left: 4px;
	border-bottom: 1px solid #e4e0b3;
	border-radius: 4px;
	text-align: right;
}
#chlDungeonCalculator_Gold {
	color: #ddbb44;
}
#chlDungeonCalculator_Silver {
	color: #aaaaaa;
}
#chlDungeonCalculator_Copper {
	color: #bb6622;
}

.chlDungeonNight {
	position: absolute;
	width: 16px; height: 16px;
	margin-left: -16px;
	margin-top: 16px;
}
.chlDungeonBar ins {
	margin-right: 6px;
	border-bottom: 1px solid #e4e0b3;
	vertical-align: middle;
}

.chl_dungeon {
	width: 32px; height: 32px;
	background-image: url("../img/dungeon/dungeons.png");
	border-radius: 4px;
}
.chl_fractal {
	width: 32px; height: 32px;
	background-image: url("../img/dungeon/fractals.png");
	border-radius: 4px;
}
.chl_raid {
	width: 32px; height: 32px;
	background-image: url("../img/dungeon/raids.png");
	border-radius: 4px;
}
.chl_ac { background-position: 0 0; }
.chl_arah { background-position: -32px 0; }
.chl_cm { background-position: -64px 0; }
.chl_coe { background-position: -96px 0; }
.chl_cof { background-position: -128px 0; }
.chl_fotm { background-position: -160px 0; }
.chl_hotw { background-position: -192px 0; }
.chl_se { background-position: -224px 0; }
.chl_ta { background-position: -256px 0; }
.chl_aetherblade { background-position: 0 0; }
.chl_aquatic { background-position: -32px 0; }
.chl_chaos { background-position: -64px 0; }
.chl_cliffside { background-position: -96px 0; }
.chl_furnace { background-position: -128px 0; }
.chl_maitrin { background-position: -160px 0; }
.chl_molten { background-position: -192px 0; }
.chl_nightmare { background-position: -224px 0; }
.chl_ocean { background-position: -256px 0; }
.chl_snowblind { background-position: -288px 0; }
.chl_swamp { background-position: -320px 0; }
.chl_thaumanova { background-position: -352px 0; }
.chl_uncategorized { background-position: -384px 0; }
.chl_underground { background-position: -416px 0; }
.chl_urban { background-position: -448px 0; }
.chl_volcanic { background-position: -480px 0; }
.chl_1_1 { background-position: 0 0; }
.chl_1_2 { background-position: -32px 0; }
.chl_1_3 { background-position: -64px 0; }
.chl_2_1 { background-position: -96px 0; }
.chl_2_2 { background-position: -128px 0; }
.chl_2_3 { background-position: -160px 0; }
.chl_3_1 { background-position: -192px 0; }
.chl_3_2 { background-position: -224px 0; }
.chl_3_3 { background-position: -256px 0; }
.chl_4_1 { background-position: -288px 0; }
.chl_4_2 { background-position: -320px 0; }
.chl_4_3 { background-position: -352px 0; }
.chl_4_4 { background-position: -384px 0; }

.chlDungeonBar label {
	display: inline;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 2px;
	border: 1px solid transparent;
	border-radius: 4px;
}
.chlDungeonBar label:hover {
	border: 1px solid red;
}
.chlDungeonBar label.chlCheckboxDisabled {
	opacity: 0.3;
}

.chlRaidBar {
	margin-bottom: 8px;
	border-bottom: 1px solid #555;
}
.chlRaidBar label {
	display: inline-block;
	padding-right: 32px;
}

/* Custom checklist */
#chlCustomTabs {
	margin-top: 4px;
	text-align: center;
}
#chlCustomTabs button {
	width: 72px; height: 36px;
	font-size: 24px;
}

#chlCustom input {
	display: inline;
}

#chlCustom input[type="text"] {
	display: inline;
	width: 260px;
	padding: 4px;
	margin-left: 8px;
	margin-bottom: 4px;
}
#chlCustom input[type="text"].chlCustomTextChecked {
	color: #ff2200;
}
#chlCustom label, .trdEntry label {
	display: inline;
	padding-top: 4px;
	padding-right: 2px;
	padding-bottom: 4px;
	padding-left: 2px;
	border: 1px solid transparent;
	border-radius: 4px;
}
#chlCustom label:hover, .trdEntry label:hover {
	border: 1px solid red;
}

.chlDungeonBar label.chlCheckboxChecked, #chlCustom label.chlCheckboxChecked, label.chlCheckboxChecked {
	border: 1px solid black;
	box-shadow: inset 0 0 32px 0 rgba(0, 0, 0, 1);
	font-weight: bold;
	color: #ff2200;
}

#chlNotepadButtons {
	display: inline-block;
	margin-top: 4px;
}
#chlNotepadSheets {
	margin-top: 10px;
}
#chlNotepadButtons button {
	margin-right: 2px;
}
#chlNotepad textarea {
	display: none;
	width: 300px; height: 500px;
	padding: 4px;
	border-radius: 4px;
	font-family: sans-serif;
	font-size: 12px;
	color: #ffddcc;
}
