/*
	http://gw2timer.com/navi
	Overlay app stylesheet.
*/

/* Remove elements extraneous or intrusive to overlay mode */
#itemWarning, #plateMenu var, .hudTitle, .hudLinks {
	display: none;
}
#mapContextToggleFloor, #wvwContextToggleFloor {
	display: block;
}

/* Overlay exclusive elements */
#prjController {
	position: fixed; z-index: 100;
	top: calc(50%); /* Buttons should be below the half-division line of the screen */
}
.prjToggle {
	display: block;
	width: 32px; height: 32px;
	border-radius: 50%;
	opacity: 0.8;
}
.prjToggle:hover {
	opacity: 1;
}
.prjToggle:active {
	opacity: 0.6;
}
#prjToggleTerrain {
	background: url("../img/ui/menu/map.png"), radial-gradient(ellipse at center, rgba(236, 121, 37, 0.6) 0%, transparent 100%);
}
#prjToggleHUD {
	background: url("../img/ui/switch.png"), radial-gradient(ellipse at center, rgba(236, 121, 37, 0.6) 0%, transparent 100%);
}
#prjTogglePanel {
	background: url("../img/ui/switch.png"), radial-gradient(ellipse at center, rgba(236, 121, 37, 0.6) 0%, transparent 100%);
	transform: rotate(90deg);
}
#itemProjector {
	position: absolute; z-index: 9;
	width: 100%; height: 100%;
	background: transparent;
	pointer-events: none;
}
#itemVignette {
	display: block;
	width: 100%; height: 100%;
	position: absolute; z-index: 9;
	top: 0;
	box-shadow: inset 0px 0px 16px 4px rgba(0, 0, 0, 0.9);
	pointer-events: none;
}

/* Resize fonts and positions appropriate for smaller view */
#cslContent {
	max-width: 100%;
	top: 12px; left: 12px;
	font-size: 12px;
}
#cslButtons {
	left: -4px; top: -4px;
}

.hudPeripheral {
	background: url("../img/background/hud.png"), linear-gradient(to bottom, #222 0%, transparent 100%);
	border-left: 4px solid #111;
	border-radius: 2px;
}
.hudHelp {
	font-size: 13px;
}
.hudHelpScroll {
	max-height: 320px;
}
.hudHelp a {
	font-size: 14px;
}
.hudHelp h2 {
	font-size: 16px;
}
.hudHelpModePreview {
	width: 160px;
	margin-right: 8px;
}

.itemContext {
	font-size: 14px;
}
.itemContext li {
	margin-bottom: 2px;
	padding: 1px 2px 1px 4px;
}
.mapContextCompassList img {
	width: 24px; height: 24px;
}

.tmlOpaqueNot .tmlSegment {
	background: transparent;
}
.tmlOpaqueNot .tmlSegmentActive, #tmlHeader .tmlTimestampActive {
	background: transparent;
}
.tmlOpaque {
	background: linear-gradient(to right, #111 0%, #383838 50%, #111 100%);
	transition: none;
}
.tmlOpaqueNot {
	background: transparent;
	transition: none;
}
#itemTimeline .btnWindow {
	top: 0;
}
#tmlToggle {
	left: 0;
}
#tmlCondense {
	left: 32px;
}
#tmlOpaque {
	left: 64px;
}
#itemTimeline {
	z-index: 3; /* Let the timeline cover the dashboard if the window is short */
	width: 100%;
	margin: auto;
	top: 0;
	bottom: auto;
}
.tmlTimestampActive .tmlSegmentTimestamp {
	font-weight: bold;
	color: lime;
}
#tmlIndicator {
	top: 0;
	box-shadow: -1px -2px 4px lime;
}
.mapGPS {
	display: inline-block;
}
.mapCoordinatesBar {
	bottom: 6px; left: 6px;
}
.mapCoordinatesBar input {
	width: 80px; height: 12px;
	margin-left: 5px;
	font-size: 12px;
}
input.mapCoordinatesName {
	width: 116px;
}
.mapTime {
	display: inline-block;
	z-index: 9;
	margin-left: 8px;
	font-size: 14px;
	font-family: Trebuchet MS, Menomonia;
	font-size: 16px;
	color: white;
	text-shadow:
		1px 1px 1px #000,
		-1px -1px 1px #000,
		1px -1px 1px #000,
		-1px 1px 1px #000,
		1px 1px 1px #000;
	opacity: 0.9;
}
#mapZones:hover #mapZonesPopup {
	padding: 0px 2px 0px 2px;
}
#mapZoneList {
	line-height: 16px;
}
#mapZoneList ul {
	margin-bottom: 8px;
}

#wvwLeaderboard {
	width: 100% !important;
	top: 0 !important;
	left: 0 !important;
}
.lboOpaque {
	background: url("../img/background/hud.png"), rgba(0, 0, 0, 1) !important;
}
.logOpaque {
	background: url("../img/background/hud.png"), rgba(0, 0, 0, 1) !important;
}
.lboButton {
	margin-top: -12px !important;
}
#lboCountdown {
	margin-top: -6px !important;
}
#wvwLogContainer {
	bottom: 0 !important; right: 0 !important;
}
#wvwLog {
	margin: 0 !important;
}
.hudPeripheralSouth {
	bottom: 0 !important; right: 0 !important;
}

/* Lower the menu bar's height */
#plateMenu {
	height: 32px;
}
#plateMenu ins {
	margin-top: 0px;
}
#menuOptions:hover #itemLanguagePopup {
	top: 32px;
}

.btnWindow {
	opacity: 0.8;
}
.btnWindow:hover {
	opacity: 1;
}
.btnWindow:active {
	opacity: 0.6;
}