/*
	http://gw2timer.com/navi
	Overlay app stylesheet.
*/

/* Remove elements extraneous or intrusive to overlay mode */
#itemWarning, #itemDashboard, .tmlLineName, #paneMenu var, .hudTitle, .hudLinks {
	display: none;
}

/* Resize fonts and positions appropriate for smaller view */
#cslContent {
	top: 12px; left: 12px;
	font-size: 12px;
}
#cslButtons {
	left: -4px; top: -4px;
}

#itemVignette {
	display: block;
	width: 100%; height: 100%;
	position: absolute; z-index: 9;
	top: 0;
	box-shadow: inset 0px 0px 16px 4px rgba(0, 0, 0, 0.9);
	pointer-events: none;
}

.hudDirectory {
	font-size: 13px;
}
.hudDirectory a {
	font-size: 14px;
}
.hudDirectory h2 {
	font-size: 16px;
}
.hudDirectoryModePreview {
	width: 160px;
	margin-right: 8px;
}

.itemContext {
	font-size: 14px;
}
.itemContext li {
	margin-bottom: 2px;
	padding: 1px 2px 1px 4px;
}
.tmlOpaque {
	background: linear-gradient(to right, #111 0%, #383838 50%, #111 100%);
	transition: none;
}
.tmlOpaqueNot {
	background: rgba(0, 0, 0, 0.6);
	transition: none;
}
#tmlToggle {
	top: 0;
	left: 0;
}
#tmlOpaque {
	top: 0px;
	left: 32px;
}
#itemTimeline {
	z-index: 3; /* Let the timeline cover the dashboard if the window is short */
	width: 100%;
	margin: auto;
	top: 0;
	bottom: auto;
}
#tmlIndicator {
	top: 0;
	box-shadow: -1px -2px 4px lime;
}
#itemDashboard {
	bottom: 32px; top: auto; right: 12px;
	line-height: 20px;
	font-size: 14px;
}
#dsbAnnouncement {
	font-size: 12px;
}
#dsbToggle {
	left: auto;
	top: auto;
	bottom: 0;
	right: 0;
}
#dsbCountdown time {
	font-size: 16px;
}
.mapGPS {
	display: inline-block;
}
.mapCoordinatesBar {
	bottom: 6px; left: 6px;
}
.mapCoordinatesBar input {
	width: 80px; height: 12px;
	margin-left: 5px;
	font-size: 12px;
}
input.mapCoordinatesName {
	width: 116px;
}
.mapTime {
	display: inline-block;
	z-index: 9;
	margin-left: 8px;
	font-size: 14px;
	font-family: Trebuchet MS, Menomonia;
	font-size: 16px;
	color: white;
	text-shadow:
		1px 1px 1px #000,
		-1px -1px 1px #000,
		1px -1px 1px #000,
		-1px 1px 1px #000,
		1px 1px 1px #000;
	opacity: 0.9;
}
#mapZones:hover #mapZonesPopup {
	padding: 0px 2px 0px 2px;
}
#mapZoneList {
	line-height: 16px;
}
#mapZoneList ul {
	margin-bottom: 8px;
}

#wvwLeaderboard {
	width: 100% !important;
	top: 0 !important;
	left: 0 !important;
}
.lboButton {
	margin-top: -12px !important;
}
#lboCountdown {
	margin-top: -12px !important;
}
#wvwLog {
	margin: 0 !important;
}
.hudPeripheralSouth {
	bottom: 0 !important; right: 0 !important;
}

/* Lower the menu bar's height */
#paneMenu {
	height: 32px;
}
#paneMenu ins {
	margin-top: 0px;
}
#menuOptions:hover #itemLanguagePopup {
	top: 32px;
}

.btnWindow {
	opacity: 0.8;
}
.btnWindow:hover {
	opacity: 1;
}
.btnWindow:active {
	opacity: 0.6;
}