/*
	http://gw2timer.com/tile
	Laptops and tablets stylesheet.
*/

/* Restructure to fit */

html, body {
	background: linear-gradient(to right, #111 0%, #383838 50%, #111 100%);
}

#cslButtons {
	position: fixed;
	bottom: 24px;
}

#panelMap, #paneClock, #paneMenu, .chnEvents {
	display: none;
}

#itemTimeline {
	position: relative;
	bottom: auto;
	margin-top: 24px;
	margin-bottom: 24px;
}
#tmlDelete {
	display: block;
}

#windowMain {
	display: block;
	position: relative;
	text-align: center;
	background: none;
	height: 100% !important;
}

.ps-scrollbar-y-rail {
	z-index: 9;
}

#panelApp {
	position: relative;
	display: inline-block;
	text-align: left;
	background: none;
}

#panelApp, #paneContent, #paneContent article {
	width: 100%;
}

body, #paneContent article {
	overflow: visible;
}

.paneApp {
	right: auto;
	border-left: none;
	box-shadow: 0px 0px 16px #111;
}

#paneContent {
	position: relative;
	top: auto;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.cntComposition {
	margin-top: 0;
}

/* Element resize */

#itemLanguage {
	display: block;
	position: absolute;
	padding-top: 12px;
	padding-bottom: 0;
	right: 96px;
	bottom: auto;
	left: auto;
	z-index: 9;
}
#itemLanguage:hover #itemLanguagePopup {
	top: auto;
	left: auto;
}

#chnProgressBar {
	width: 100%; height: 4px;
}

.chnBar, .chnSlot {
	display: inline-block;
	width: 30%;
	min-width: 180px;
	max-width: 360px;
	margin-bottom: 8px;
	margin-right: 8px;
	border-top: 2px solid #222;
	border-left: 2px solid #222;
	border-right: 4px solid black;
	border-bottom: 4px solid black;
}

.chnTitle img {
	width: 64px; height: 64px;
	border-radius: 8px;
}

.chnCheck, .chnChecked {
	display: inline-block;
	margin-left: -64px;
	width: 64px; height: 64px;
	opacity: 0.6;
}
.chnFaded {
	opacity: 0.2;
}

.chnTitle h1 {
	width: 62%;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	cursor: url("img/cursor/auto.cur"), auto;
}
.chnTitleMisc {
	text-decoration: underline;
}

.chnTitle time {
	width: 100%;
	padding-right: 8px;
	font-size: 20px;
}
.chnTitle time sup {
	font-size: 18px;
}

.chnTitleFutureFar, .chnSlot h1 {
	color: #aaa;
}
.chnTimeFutureFar, .chnSlot time {
	color: #ffcc77;
}
.chnTimeSubscribed {
	color: #ddff77;
	font-weight: bold;
}

.chnDetailsExtra {
	text-align: left;
}
.chnDelete {
	opacity: 0.1;
}
.chnBar:hover .chnDelete {
	opacity: 0.4;
}
.chnBar:hover .chnDelete:hover {
	opacity: 0.8;
}

#plateChains section {
	text-align: center;
}