/*
	http://gw2timer.com/tile
	Laptops and tablets stylesheet.
*/

/* Restructure to fit */

html, body {
	background: linear-gradient(to right, #111 0%, #383838 50%, #111 100%);
}

#cslButtons {
	position: fixed;
	bottom: 24px;
}

#panelMap, #itemExpandButton, #paneClock, #paneMenu, .chnEvents {
	display: none;
}

#dsbContainerOuter {
	width: 100%;
	text-align: center;
}
#itemDashboard {
	display: inline-block !important;
	position: relative;
	margin-top: -16px;
	margin-bottom: 64px;
	padding: 8px 12px 4px 12px;
	text-align: left;
	line-height: normal;
}

#itemTimeline {
	position: relative;
	bottom: auto;
	margin-top: 24px;
	margin-bottom: 24px;
}
#itemTimeline .btnWindow {
	top: -24px;
}
#tmlDelete {
	display: block;
}
#tmlIndicatorTime {
	top: 4px;
}

#windowMain {
	display: block;
	position: relative;
	text-align: center;
	background: none;
	height: 100% !important;
}

.ps-scrollbar-y-rail {
	z-index: 9;
}

#panelApp {
	position: relative;
	display: inline-block;
	text-align: left;
	background: none;
}

#panelApp, #paneContent, #paneContent article {
	width: 100%;
}

body, #paneContent article {
	overflow: visible;
}

.paneApp {
	right: auto;
	border-left: none;
	box-shadow: 0px 0px 16px #111;
}

#paneContent {
	position: relative;
	top: auto;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.cntComposition {
	margin-top: 0;
}

#plateChains {
	background: linear-gradient(to right, #111 0%, rgba(56, 56, 56, 0.8) 50%, #111 100%);
}

/* Element resize */

#itemLanguage {
	display: block;
	position: absolute;
	padding-top: 12px;
	padding-bottom: 0;
	right: 96px;
	bottom: auto;
	left: auto;
	z-index: 9;
}

#chnProgressBar {
	position: fixed;
	width: 100%; height: 4px;
}

.chnBar, .chnSlot {
	display: inline-block;
	width: 30%;
	min-width: 180px;
	max-width: 360px;
	margin-bottom: 8px;
	margin-right: 8px;
	background: linear-gradient(to right, #111 0%, #333 100%);
	border-top: 2px solid #222;
	border-left: 2px solid #222;
	border-right: 4px solid black;
	border-bottom: 4px solid black;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	vertical-align: top;
}
.chnBarPrevious {
	background: linear-gradient(to right, #111 0%, #261306 100%);
}
.chnBarCurrent {
	background: linear-gradient(to right, #111 0%, #4f280c 100%);
}
.chnBarReset {
	background: linear-gradient(to right, #111 0%, #663b7f 100%);
}
.chnBarHover {
	background: linear-gradient(to right, #111 0%, #66aaff 100%);
}
.cssState {
	width: 10px; height: 10px;
}

.chnTitle img {
	width: 64px; height: 64px;
	border-radius: 2px;
	box-shadow: 0px 4px 10px black;
}

.chnCheck, .chnChecked {
	display: inline-block;
	margin-left: -64px;
	width: 64px; height: 64px;
	opacity: 0.6;
}
.chnFaded {
	opacity: 0.2;
}

.chnTitle h1 {
	width: 62%;
	font-family: Trebuchet MS, Menomonia;
	font-size: 18px;
	text-align: center;
	cursor: url("../img/cursor/auto.cur"), auto;
}

.chnTitle time {
	width: 100%;
	padding-right: 8px;
	background: linear-gradient(to right, transparent 0%, rgba(255, 255, 255, 0.1) 100%);
	border-bottom-right-radius: 50%;
}
.chnTitle time sup {
	font-size: 18px;
}

.chnTitleFutureFar, .chnSlot h1 {
	color: #aaa;
}
.chnTimeFutureFar, .chnSlot time {
	color: #ffcc77;
}
.chnTimeSubscribed {
	color: #ddff77;
	font-weight: bold;
}

.chnDetailsExtra {
	text-align: left;
}
.chnDelete {
	opacity: 0.1;
}
.chnBar:hover .chnDelete {
	opacity: 0.4;
}
.chnBar:hover .chnDelete:hover {
	opacity: 0.8;
}

#plateChains section {
	text-align: center;
}