/*
	http://gw2timer.com/wvw
	World versus World stylesheet.
*/

#wvwZoneList ul, #wvwZoneList h2 {
	max-width: none;
}

/* Objective
----------------------------------------------------------------------------- */
.objContainer, .objIconContainer {
	display: table-cell;
	width: 38px; height: 38px;
	vertical-align: middle;
	text-align: center;
	font-size: 12px;
	text-shadow:
		1px 1px 0px #000,
		-1px -1px 0px #000,
		1px -1px 0px #000,
		-1px 1px 0px #000,
		1px 1px 0px #000;
}
.objUmbrellaContainer {
	position: absolute;
	display: block;
	top: -45px; left: -45px;
	width: 128px; height: 128px;
	pointer-events: none;
}
.objUmbrellaOuter {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 128px; height: 128px;
}
.objUmbrella {
	margin-top: 5px; /* To account for the anomalous extra height of the container */
	display: inline-block;
	width: 64px; height: 64px;
	border: 4px solid white;
	border-radius: 100%;
	box-shadow: 0px 0px 10px white;
}
.objIcon {
	background: rgba(255, 255, 255, 0.25);
	border-radius: 100%;
}
.objIcon:hover {
	background: white;
}
.objInfo {
	width: 100%;
	left: 0;
	bottom: -16px;
	position: absolute;
	line-height: 14px;
	white-space: nowrap;
	color: #ffbb44;
}
.objInfo cite {
	text-align: center;
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0.8;
}
.objProgressContainer {
	display: block;
	width: 38px; height: 6px;
	position: absolute;
	top: 0;
}
.objProgressBar {
	display: inline-block;
	width: 38px; height: 4px;
	border: 1px solid black;
	vertical-align: top;
	background: rgba(255, 0, 0, 0.5);
}
.objProgress {
	display: block;
	width: 100%; height: 100%;
	background: lime;
}
.objTimer {
	display: block;
	width: 100%;
	position: absolute;
	top: -18px;
	line-height: 18px;
	white-space: nowrap;
	font-family: Arial, sans-serif;
	color: white;
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.5);
}

/* Log
----------------------------------------------------------------------------- */
#wvwLog {
	width: 256px;
	background: rgba(0, 0, 0, 0.1);
	margin: 0px 4px 4px 0px;
	padding: 8px 12px 8px 12px;
	border: none;
	font-size: 12px;
	text-shadow:
		0px 1px 1px #000,
		0px -1px 1px #000,
		1px 0px 1px #000,
		-1px 0px 1px #000;
}
#wvwLog:hover {
	background: rgba(0, 0, 0, 0.8);
}

#wvwServerList {
	position: absolute;
	top: -8px;
	right: 8px;
	width: 96px;
	font-size: 12px;
	color: white;
	opacity: 0.5;
	border-radius: 8px;
	background: rgba(0, 0, 0, 0.2);
	border: none;
	outline: none;
	text-shadow:
		0px 1px 1px #000,
		0px -1px 1px #000,
		1px 0px 1px #000,
		-1px 0px 1px #000;
}
#wvwLog:hover #wvwServerList {
	background: rgba(32, 32, 32, 1);
	border: 1px solid rgba(255, 255, 255, 0.4);
	opacity: 0.8;
}
#wvwServerList:hover {
	width: 128px;
}

#wvwLogContainer:hover .logButton {
	opacity: 0.8;
}
.logButton {
	top: auto;
	left: auto;
	bottom: 0;
	opacity: 0.2;
}
#logToggle {
	right:  0;
	background: url("../img/ui/toggle.png");
}
#logExpand {
	right: 32px;
	background: url("../img/ui/switch.png");
}

#logWindow {
	position: relative;
	height: 144px;
	overflow: hidden;
}
#logOptions, #logFilters {
	text-align: center;
	white-space: nowrap;
}
#logOptions label {
	display: inline-block;
	width: auto;
	margin: 0;
}
#logOptions input[type="checkbox"] {
	opacity: 0.5;
}
#logOptions label:hover input[type="checkbox"] {
	opacity: 0.9;
}
#logCheckNarrate {
	position: absolute;
	right: 12px;
}
#logCheckNarrateSpeaker {
	width: 24px; height: 24px;
	opacity: 0.5;
}
#opt_bol_logRedHome + var, #opt_bol_narrateRedHome + var {
	color: #cc1f24;
}
#opt_bol_logGreenHome + var, #opt_bol_narrateGreenHome + var  {
	color: #52a518;
}
#opt_bol_logBlueHome + var, #opt_bol_narrateBlueHome + var  {
	color: #31a7bb;
}
#opt_bol_logCenter + var, #opt_bol_narrateCenter + var  {
	color: #ffeeaa;
}

#logNarrationPopup {
	display: none;
	position: absolute; z-index: 9;
	top: 32px;
	right: 16px;
	margin: 0;
	padding: 8px;
}
#logNarrationContainer:hover #logNarrationPopup {
	display: block;
}
#logNarrationPopup label {
	display: block;
}

#logTime {
	text-decoration: underline;
}

.logEntry {
	background: rgba(255, 255, 255, 0.2);
	white-space: nowrap;
}
.logEntry:hover {
	outline: 1px solid rgba(0, 0, 0, 0.5);
	font-weight: bold;
}
.logEntry time, #logTime {
	display: inline-block;
	width: 72px;
	margin-right: 8px;
	text-align: right;
}
.logEntry img {
	width: 24px; height: 24px;
	vertical-align: middle;
}
.logEntry cite {
	color: #ffbb44;
}
.logEntryRedHome {
	background: rgba(204, 31, 36, 0.2);
}
.logEntryGreenHome {
	background: rgba(82, 165, 24, 0.2);
}
.logEntryBlueHome {
	background: rgba(49, 167, 187, 0.2);
}
.logEntryCenter {
	background: rgba(255, 255, 0, 0.2);
}

/* Leaderboard
----------------------------------------------------------------------------- */
#wvwLeaderboard {
	width: calc(100% - 352px);
	position: absolute; z-index: 9;
	top: 16px;
	left: 16px;
	padding: 8px;
	font-size: 14px;
	color: white;
	background: rgba(0, 0, 0, 0.2);
	text-shadow:
		0px 1px 1px #000,
		0px -1px 1px #000,
		1px 0px 1px #000,
		-1px 0px 1px #000;
}
#wvwLeaderboard aside {
	display: inline-block;
}
.lboRank {
	width: 32px;
	text-align: right;
	font-weight: bold;
	background: rgba(5, 158, 182, 0.2);
}
.lboServer1 .lboName  {
	color: #52a518;
}
.lboServer2 .lboName {
	color: #31a7bb;
}
.lboServer3 .lboName {
	color: #cc1f24;
}
.lboServer1 samp {
	background: #52a518;
}
.lboServer2 samp {
	background: #31a7bb;
}
.lboServer3 samp {
	background: #cc1f24;
}
.lboName {
	width: 128px;
	font-weight: bold;
	background: rgba(47, 170, 74, 0.2);
}
.lboScore {
	width: 160px;
	vertical-align: middle;
	text-align: right;
	background: rgba(32, 158, 48, 0.2);
}
.lboScore var {
	width: 64px;
	margin-right: 4px;
	text-align: right;
}
.lboScore span, .lboPPT span {
	vertical-align: middle;
	display: inline-block;
	width: 96px; height: 12px;
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-radius: 2px;
	background: rgba(0, 0, 0, 0.2);
}
.lboScore span samp, .lboPPT span samp {
	display: block;
	height: 100%;
}
.lboScore span samp {
	float: right;
}
.lboPPT {
	width: 160px;
	vertical-align: middle;
	text-align: left;
	background: rgba(22, 18, 37, 0.2);
}
.lboPPT var {
	display: inline-block;
	width: 32px;
	margin-right: 4px;
	text-align: right;
}
.lboPPT span {
	background: rgba(22, 18, 37, 0.2);
}
.lboObjectives {
	width: 256px;
	background: rgba(72, 91, 112, 0.2);
}