/*
	http://gw2timer.com/wvw
	World versus World stylesheet.
*/

#wvwServerList ul {
	display: inline-block;
	padding-right: 8px;
	padding-left: 8px;
	vertical-align: top;
}

.objContainer, .objIconContainer {
	display: table-cell;
	width: 38px; height: 38px;
	vertical-align: middle;
	text-align: center;
	font-size: 12px;
	text-shadow:
		1px 1px 0px #000,
		-1px -1px 0px #000,
		1px -1px 0px #000,
		-1px 1px 0px #000,
		1px 1px 0px #000;
}
.objIcon {
	background: rgba(255, 255, 255, 0.25);
	border-radius: 100%;
}
.objIcon:hover {
	background: white;
}
.objInfo {
	width: auto;
	left: 0;
	bottom: -16px;
	position: absolute;
	line-height: 14px;
	white-space: nowrap;
	color: #ffbb44;
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0.8;
}
.objProgressContainer {
	display: block;
	width: 38px; height: 2px;
	position: absolute;
	top: 0;
}
.objProgressBar {
	display: inline-block;
	width: 38px; height: 4px;
	border: 1px solid black;
	vertical-align: top;
	background: rgba(255, 0, 0, 0.5);
}
.objProgress {
	display: block;
	width: 100%; height: 100%;
	background: lime;
}
.objTimer {
	display: block;
	width: 100%;
	position: absolute;
	top: -18px;
	line-height: 18px;
	white-space: nowrap;
	font-family: Arial, sans-serif;
	color: white;
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.5);
}