/*
	http://gw2timer.com/wvw
	World versus World stylesheet.
*/

#wvwZoneList ul, #wvwZoneList h2 {
	max-width: none;
}
#wvwHelpLinks {
	width: 100%;
	text-align: center;
}
#wvwHelpLinks a {
	font-weight: bold;
	text-decoration: underline;
}

/* Map elements
----------------------------------------------------------------------------- */
.wvwSpawnLabel {
	white-space: nowrap;
}
.wvwSpawnLabel:hover {
	font-weight: bold;
}

/* Objective
----------------------------------------------------------------------------- */
.objContainer, .objIconContainer {
	display: table-cell;
	width: 38px; height: 38px;
	vertical-align: middle;
	text-align: center;
	font-size: 12px;
	text-shadow:
		1px 1px 0px #000,
		-1px -1px 0px #000,
		1px -1px 0px #000,
		-1px 1px 0px #000,
		1px 1px 0px #000;
}
.objSubobjective { /* If the objective is a bonus objective like Ruins or Shrines */
	opacity: 0.4;
}
.objSubobjective:hover {
	opacity: 1;
}
.objUmbrellaContainer {
	position: absolute;
	display: block;
	top: -45px; left: -45px;
	width: 128px; height: 128px;
	pointer-events: none;
}
.objUmbrellaOuter {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 128px; height: 128px;
}
.objUmbrella {
	margin-top: 5px; /* To account for the anomalous extra height of the container */
	display: inline-block;
	width: 64px; height: 64px;
	border: 4px solid white;
	border-radius: 100%;
	box-shadow: 0px 0px 10px white;
}
.objIcon {
	background: rgba(255, 255, 255, 0.25);
	border-radius: 100%;
}
.objIcon:hover {
	background: white;
}
.objInfo {
	width: 100%;
	left: 0;
	bottom: -16px;
	position: absolute;
	line-height: 14px;
	white-space: nowrap;
	font-family: Trebuchet MS, Menomonia;
}
.objInfo cite {
	text-align: center;
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0.8;
}
.objClaim {
	color: #ffbb44;
}
.objAge {
	font-weight: bold;
	color: #eee;
}
.objProgressContainer {
	display: block;
	width: 38px; height: 6px;
	position: absolute;
	top: 0;
	pointer-events: none;
}
.objProgressBar {
	display: inline-block;
	width: 38px; height: 4px;
	border: 1px solid black;
	vertical-align: top;
	background: rgba(255, 0, 0, 0.5);
}
.objProgress {
	display: block;
	width: 100%; height: 100%;
	background: lime;
}
.objTimer {
	display: block;
	width: 100%;
	position: absolute;
	top: -18px;
	line-height: 18px;
	white-space: nowrap;
	font-family: Trebuchet MS, Menomonia;
	color: white;
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.5);
	pointer-events: none;
}
.objTooltip {
	font-family: Trebuchet MS, Menomonia;
	font-weight: normal;
}
.objTooltipName {
	font-family: Menomonia;
	font-size: 18px;
	line-height: 18px;
}
.objTooltipDivider {
	margin-top: 4px;
	margin-bottom: 4px;
}
.objTooltipBanner {
	width: 128px; height: 128px;
	margin-top: 12px;
	margin-bottom: 8px;
	background: url("../img/background/guildbanner.png");
	background-size: cover;
	box-shadow: 0px 0px 2px tan;
}

/* Leaderboard
----------------------------------------------------------------------------- */
#wvwLeaderboard {
	width: calc(100% - 48px);
	position: absolute; z-index: 9;
	overflow: visible;
	top: 16px;
	left: 16px;
	text-align: center;
	font-size: 14px;
	color: white;
	text-shadow:
		0px 1px 1px #000,
		0px -1px 1px #000,
		1px 0px 1px #000,
		-1px 0px 1px #000;
}

#lboContainer {
	overflow: visible;
	display: inline-block;
	padding: 8px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
	border-radius: 4px;
	text-align: left;
}

/* Classes for toggling window opacity (which is actually its background) */
.lboOpaque {
	background: rgba(0, 0, 0, 0.8);
	transition: background 0.4s;
}
.lboOpaqueNot {
	background: rgba(0, 0, 0, 0.1);
	transition: background 0.4s;
}
.logOpaque {
	background: rgba(0, 0, 0, 0.8);
	transition: background 0.4s;
}
.logOpaqueNot {
	background: rgba(0, 0, 0, 0.1);
	transition: background 0.4s;
}

#lboOther { /* Contains scoreboards of other tiers */
	position: relative;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 2px;
	overflow: hidden;
}

.lboButton {
	display: inline-block;
	text-align: left;
	top: auto;
	left: auto;
	margin-top: -24px;
	opacity: 0.2;
}
#lboContainer:hover .lboButton {
	opacity: 0.8;
}
#lboContainer:hover .lboButton:hover {
	opacity: 1;
}
#lboContainer:hover #lboCountdown {
	opacity: 1;
}
#lboToggle {
	margin-left: -8px;
}
#lboCondense {
	margin-left: 24px;
}
#lboRegion {
	margin-left: 56px;
}
#lboStats {
	margin-left: 88px;
}
#lboOpaque {
	margin-left: 120px;
}

#lboCountdown { /* Countdown to WvW reset clock */
	position: absolute;
	margin-left: 152px;
	margin-top: -24px;
	font-family: Consolas, monospace;
	font-size: 14px;
	opacity: 0.6;
}
#lboCountdown:hover {
	text-decoration: underline;
}

#lboOther section { /* A block of rows for a single tier/matchup: a scoreboard */
	margin-top: 8px;
	margin-bottom: 16px;
	padding: 4px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 2px;
}
#wvwLeaderboard section:nth-child(even) {
	background: rgba(255, 255, 255, 0.2);
}
#wvwLeaderboard article { /* A row containing a server's data cells '*/
	border-radius: 4px;
	white-space: nowrap;
	padding-right: 8px;
}
#wvwLeaderboard aside { /* A cell of the leaderboard table */
	display: inline-block;
	vertical-align: middle;
}
#wvwLeaderboard var { /* Numbers and text */
	display: inline-block;
	text-align: right;
}
#wvwLeaderboard samp { /* A bar graph */
	vertical-align: middle;
	display: inline-block;
	width: 96px; height: 12px;
	border: 1px solid rgba(0, 0, 0, 0.8);
	border-radius: 2px;
	background: rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 1px black;
}
#wvwLeaderboard samp s { /* The inner progress of the bar graph */
	display: block;
	height: 100%;
}
#wvwLeaderboard mark { /* The bisecting line representing 50% in a bar graph */
	display: block;
	width: 2px; height: 12px;
	position: absolute;
	margin-left: 47px;
	background: rgba(255, 255, 255, 0.4);
}
.lboServer a {
	text-decoration: none;
}
.lboServer:hover a {
	text-decoration: underline;
}

.lboRank {
	width: 32px;
	text-align: right;
	font-weight: bold;
}
.wvwColorGreen, .lboServerGreen .lboName a, .lboPPTGreen {
	color: #88ff88;
}
.wvwColorBlue, .lboServerBlue .lboName a, .lboPPTBlue {
	color: #66ccff;
}
.wvwColorRed, .lboServerRed .lboName a, .lboPPTRed {
	color: #ff5544;
}
.lboPPTCenter {
	color: #ffeeaa;
}
.lboName {
	width: 192px;
	margin-left: 8px;
	overflow: visible;
	text-align: center;
	white-space: nowrap;
	font-family: Menomonia;
	font-weight: bold;
	font-size: 16px;
}
.lboScore {
	width: auto;
	text-align: right;
}
.lboScore var {
	width: 64px;
	margin-right: 4px;
}
.lboServerGreen samp s {
	background: url("../img/background/bargraph.png"), linear-gradient(to bottom, #c0e23c 0%, #62a01c 50%, #3c5610 100%);
	box-shadow: 0px 0px 2px #62a01c;
	border-radius: 1px;
}
.lboServerBlue samp s {
	background: url("../img/background/bargraph.png"), linear-gradient(to bottom, #37d4e3 0%, #217fa2 50%, #174f5b 100%);
	box-shadow: 0px 0px 2px #217fa2;
	border-radius: 1px;
}
.lboServerRed samp s {
	background: url("../img/background/bargraph.png"), linear-gradient(to bottom, #de3f47 0%, #b52326 50%, #621010 100%);
	box-shadow: 0px 0px 2px #b52326;
	border-radius: 1px;
}
#wvwLeaderboard .lboFocusRed samp s, #wvwLeaderboard .lboFocusBlue samp s {
	background: url("../img/background/bargraph.png"), linear-gradient(to bottom, #c0e23c 0%, #62a01c 50%, #3c5610 100%); /* Green */
}
#wvwLeaderboard .lboFocusRed samp, #wvwLeaderboard .lboFocusGreen samp s {
	background: url("../img/background/bargraph.png"), linear-gradient(to bottom, #37d4e3 0%, #217fa2 50%, #174f5b 100%); /* Blue */
}
#wvwLeaderboard .lboFocusGreen samp, #wvwLeaderboard .lboFocusBlue samp {
	background: url("../img/background/bargraph.png"), linear-gradient(to bottom, #de3f47 0%, #b52326 50%, #621010 100%); /* Red */
}
.lboFocusRed .lboFocusA, .lboFocusBlue .lboFocusA {
	color: #88ff88; /* Green */
}
.lboFocusRed .lboFocusB, .lboFocusGreen .lboFocusA {
	color: #66ccff; /* Blue */
}
.lboFocusGreen .lboFocusB, .lboFocusBlue .lboFocusB {
	color: #ff5544; /* Red */
}
#wvwLeaderboard samp.lboFocusZero {
	background: rgba(0, 0, 0, 0.2);
}
.lboScore samp s {
	float: right;
}
.lboPPT {
	width: auto;
	text-align: left;
}
.lboPPT var {
	width: 32px;
	margin-left: 4px;
}
.lboLand {
	margin-left: 8px;
}
.lboLand var {
	width: 36px; height: 100%;
	padding-right: 4px;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 4px;
}
.lboFocus {
	margin-left: 8px;
}
.lboFocus var {
	width: 32px;
}
.lboFocusA, .lboKills {
	margin-right: 4px;
}
.lboFocusB, .lboDeaths {
	margin-left: 4px;
}
.lboFocusB {
	padding-right: 4px;
}
.lboKD {
	margin-left: 4px;
}
.lboKD var {
	width: 48px;
}

/* Log
----------------------------------------------------------------------------- */
#wvwLog {
	width: 256px;
	margin: 0px 4px 4px 0px;
	padding: 8px 12px 8px 12px;
	font-size: 12px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
	text-shadow:
		0px 1px 1px #000,
		0px -1px 1px #000,
		1px 0px 1px #000,
		-1px 0px 1px #000;
}
#wvwLog a {
	color: white;
	text-decoration: underline;
}
#wvwLog a:hover {
	color: #ddff77;
}

#wvwZoom {
	position: absolute; z-index: 1;
	width: auto; height: auto;
	left: 0px;
	bottom: 0px;
	margin: 0;
	padding: 0;
	opacity: 0.6;
}
#wvwLog:hover #wvwZoom {
	opacity: 1;
}
#wvwZoomIcon {
	opacity: 0.6;
	pointer-events: none;
}
#wvwZoomInput {
	width: 128px; height: 32px;
	margin: 0;
	padding: 0;
}
#wvwServerList {
	position: absolute;
	top: -8px;
	right: 8px;
	width: 128px;
	font-size: 12px;
	color: white;
	opacity: 0.5;
	border-radius: 8px;
	background: rgba(0, 0, 0, 0.2);
	border: none;
	outline: none;
	box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
	text-shadow:
		0px 1px 1px #000,
		0px -1px 1px #000,
		1px 0px 1px #000,
		-1px 0px 1px #000;
}
#wvwLog:hover #wvwServerList {
	background: rgba(32, 32, 32, 1);
	border: 1px solid rgba(255, 255, 255, 0.4);
	opacity: 0.8;
}

#wvwLogContainer:hover .logButton {
	opacity: 0.8;
}
#wvwLogContainer:hover .logButton:hover {
	opacity: 1;
}
.logButton {
	top: auto;
	left: auto;
	bottom: 0;
	opacity: 0.2;
}
#logToggle {
	right:  0;
}
#logExpand {
	right: 32px;
}
#logOpaque {
	right: 64px;
}

#logWindow {
	position: relative;
	height: 144px;
	overflow: hidden;
}
#logOptions, #logFilters {
	text-align: center;
	white-space: nowrap;
}
#logOptions label {
	display: inline-block;
	width: auto;
	margin: 0;
}
#logFilters label {
	width: 100%;
}
#logFiltersRed, #logFiltersBlue, #logFiltersGreen {
	width: 100%;
}
#logFiltersRed {
	text-align: center;
}
#logFiltersGreen {
	text-align: left;
}
#logFiltersBlue {
	text-align: right;
}
#logOptions input[type="checkbox"] {
	opacity: 0.5;
}
#logOptions label:hover input[type="checkbox"] {
	opacity: 0.9;
}
#logCheckNarrate {
	position: absolute;
	right: 12px;
}
#logCheckNarrateSpeaker {
	width: 24px; height: 24px;
	opacity: 0.5;
}
#opt_bol_logRedHome + var, #opt_bol_narrateRedHome + var {
	color: #ff5544;
}
#opt_bol_logGreenHome + var, #opt_bol_narrateGreenHome + var  {
	color: #88ff88;
}
#opt_bol_logBlueHome + var, #opt_bol_narrateBlueHome + var  {
	color: #66ccff;
}
#opt_bol_logCenter + var, #opt_bol_narrateCenter + var  {
	color: #ffeeaa;
}

#logNarrationPopup {
	display: none;
	position: absolute; z-index: 9;
	top: 32px;
	right: 16px;
	margin: 0;
	padding: 8px;
}
#logNarrationContainer:hover #logNarrationPopup {
	display: block;
}
#logNarrationPopup label {
	display: block;
}

#logTime {
	text-decoration: underline;
}

.logEntry {
	background: rgba(255, 255, 255, 0.2);
}
.logEntry:hover {
	outline: 1px solid rgba(0, 0, 0, 0.5);
	font-weight: bold;
}
.logEntryLong {
	white-space: normal;
}
.logEntry time, #logTime {
	display: inline-block;
	width: 72px;
	margin-right: 8px;
	text-align: right;
}
.logEntry img {
	width: 24px; height: 24px;
	vertical-align: middle;
}
.logEntry cite {
	color: #ffbb44;
}
.logEntry dfn {
	font-weight: normal;
	color: white;
}
.logEntry:hover dfn {
	font-weight: bold;
	color: #ffcc77;
}
.logEntryRedHome, .lboServerRed {
	background: rgba(204, 31, 36, 0.3);
}
.logEntryGreenHome, .lboServerGreen {
	background: rgba(82, 165, 24, 0.3);
}
.logEntryBlueHome, .lboServerBlue {
	background: rgba(29, 127, 187, 0.3);
}
.logEntryCenter {
	background: rgba(255, 255, 0, 0.3);
}
.logEntryRedHome, .logEntryGreenHome, .logEntryBlueHome, .logEntryCenter {
	white-space: nowrap; /* This makes the log entry expand animation go in one line */
}
.lboServerRed:hover {
	background: rgba(204, 31, 36, 0.8);
}
.lboServerGreen:hover {
	background: rgba(82, 165, 24, 0.8);
}
.lboServerBlue:hover {
	background: rgba(29, 127, 187, 0.8);
}

/* Stats printed
----------------------------------------------------------------------------- */
#wvwStats {
	text-align: right;
	font-size: 18px;
	color: white;
}
#wvwStats tbody tr:nth-child(odd) {
	background: rgba(0, 0, 0, 0.2);
}
#wvwStats tbody tr:hover {
	background: rgba(255, 255, 255, 0.2);
}
#wvwStats th {
	font-family: Menomonia;
	font-size: 20px;
	color: #ffffbb;
}
#wvwStats td {
	padding: 2px 8px 2px 8px;
	font-family: Trebuchet MS, Menomonia;
}
#wvwStats th {
	padding: 8px 8px 4px 8px;
}
#wvwStats td:first-child, #wvwStats th:first-child {
	text-align: left;
}
#wvwStats td:first-child {
	font-family: Menomonia;
}
#wvwStats .wvwStatsLink {
	text-decoration: none;
}
#wvwStats .wvwPopulation_Low {
	color: #99dd88;
}
#wvwStats .wvwPopulation_Medium {
	color: #99dd88;
}
#wvwStats .wvwPopulation_High {
	color: #eecc55;
}
#wvwStats .wvwPopulation_VeryHigh {
	color: #ff7700;
}
#wvwStats .wvwPopulation_Full {
	color: #ff0000;
}

/* Siege Supply Calculator
----------------------------------------------------------------------------- */

#wvwSupply {
	display: inline-block;
	padding: 4px 8px 8px 8px;
}

#splCalculator, #splHave {
	font-size: 16px;
	font-weight: bold;
}
#splHave {
	width: 48px;
	text-align: right;
}

.spl {
	width: 32px; height: 32px;
	margin: 1px;
	border: 1px solid transparent;
	background-image: url("../img/wvw/blueprints.png");
	text-align: right;
	font-size: 18px;
	font-weight: bold;
	color: #ffeebb;
	text-shadow:
		0px 1px 2px #000,
		0px -1px 2px #000,
		1px 0px 2px #000,
		-1px 0px 2px #000;
}
.spl:hover {
	border: 1px solid gold;
}
.spl:active {
	opacity: 0.6;
}
.splAdded {
	border: 1px solid lime;
}
.spl_basic_arrowcart { background-position: 0 0; }
.spl_basic_ballista { background-position: -32px 0; }
.spl_basic_catapult { background-position: -64px 0; }
.spl_basic_flameram { background-position: -96px 0; }
.spl_basic_golem { background-position: -128px 0; }
.spl_basic_shieldgenerator { background-position: -160px 0; }
.spl_basic_trebuchet { background-position: -192px 0; }
.spl_guild_arrowcart { background-position: -224px 0; }
.spl_guild_ballista { background-position: -256px 0; }
.spl_guild_catapult { background-position: -288px 0; }
.spl_guild_flameram { background-position: -320px 0; }
.spl_guild_golem { background-position: -352px 0; }
.spl_guild_shieldgenerator { background-position: -384px 0; }
.spl_guild_trebuchet { background-position: -416px 0; }
.spl_superior_arrowcart { background-position: -448px 0; }
.spl_superior_ballista { background-position: -480px 0; }
.spl_superior_catapult { background-position: -512px 0; }
.spl_superior_flameram { background-position: -544px 0; }
.spl_superior_golem { background-position: -576px 0; }
.spl_superior_shieldgenerator { background-position: -608px 0; }
.spl_superior_trebuchet { background-position: -640px 0; }

